@charset "utf-8";
.stars_wrap .s_list,.video_wrap .v_list,.pic_wrap .p_list{padding:0.8125rem 0.40625rem 0; overflow:hidden;}
/*.stars_wrap figure,.video_wrap .v_list ul li{width:33.333%; text-align:center; padding:0 0.40625rem 0.8125rem; float:left; box-sizing:border-box;}*/
.stars_wrap figure,.video_wrap .v_list ul li{width:32.333%; text-align:center; padding:0 0.40625rem 0.8125rem;box-sizing:border-box;display:inline-block;}
.stars_wrap .s_list .stars_pic{max-width:15.625rem; max-height:15.625rem; overflow:hidden; margin:0 auto;border-radius:50%;}
.video_wrap .v_list ul li{padding-bottom:0.40625rem;}
.stars_wrap figure img{width:100%;border-radius:50%; margin:0 auto;}
.stars_wrap figure figcaption{width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.video_wrap figure img{max-width:100%; max-height:15.3125rem;}
.video_wrap .pic{position:relative; margin:0 auto;}
.video_wrap .v_list ul li img{width:100%;}
.video_wrap span.label{background:rgba(0,0,0,0.5); color:#fff; position:absolute; top:0; right:0; padding:.1rem .2rem; font-size:0.75rem;}
.video_wrap span.info{background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)); background:-webkit-linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)); color:#fff; position:absolute; bottom:0; width:100%; left:0; height:1.8rem; line-height:1.8rem; text-align:center; font-size:0.75rem;}
.video_wrap h3{height:2.2rem; line-height:2.2rem; font-size:1rem; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.pic_wrap .p_list ul{overflow:hidden; margin:0 auto 0;}
.pic_wrap .p_list ul li{float:left; width:50%; margin:0 0 .625rem; position:relative; overflow:hidden; box-sizing:border-box; }
.pic_wrap .p_list ul li img{width:100%;}
.pic_wrap .p_list ul li h3{box-sizing:border-box; height:2.0rem; color:#fff; line-height:2.0rem; width:100%;background:linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)); background:-webkit-linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.5)); position:absolute; bottom:0; left:0; padding:0 .2rem; font-size:1rem; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.pic_wrap .p_list ul li.pic_1{border-right:0.3125rem solid #fff; border-left:0.40635rem solid #fff;}
.pic_wrap .p_list ul li.pic_3{border-left:0.40635rem solid #fff; border-right:0.40635rem solid #fff; width:100%;}

