article, aside, blockquote, body, code, dd, div, dl, dt, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, input, legend, li, main, ol, p, pre, section, td, textarea, th, ul {
  box-sizing:border-box;
  margin:0;
  padding:0
}
h1, h2, h3, h4, h5, h6 {
  font-weight:400;
  font-size:100%
}
li {
  list-style:none
}
img {
  border:none
}
input, select, textarea {
  outline:none;
  border:none;
  background:none;
  border-radius:0;
  -webkit-border-radius:0;
  -webkit-appearance:none;
  background-image:-webkit-linear-gradient(transparent, transparent);
  background-image:linear-gradient(transparent, transparent)
}
textarea {
  resize:none
}
html {
  -webkit-text-size-adjust:none
}
article锛� aside锛� details锛� figcaption锛� figure锛� footer锛� header锛� hgroup锛� menu锛� nav锛� section, img {
  display:block
}
img {
  max-width:100%;
  height:auto;
  width:auto\9;
  vertical-align:top
}
.video embed锛� .video object锛� .video iframe {
  width:100%;
  height:auto
}
a {
  color:#1c1c1c;
  text-decoration:none;
  outline:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}
.clearfix:after, .clearfix:before {
  content:"";
  display:table
}
.clearfix:after {
  clear:both
}
.clearfix {
  zoom:1
}
body {
  overflow-x:hidden;
  position:relative;
  min-width:320px;
  font-family:PingFang sc, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  background-color:#fff;
  color:#1c1c1c;
  min-height:100vh
}
abbr, acronym, address, applet, aside, audio, big, blockquote, canvas, center, cite, code, del, details, dfn, embed, fieldset, figcaption, figure, hgroup, iframe, ins, kbd, mark, menu, object, output, pre, q, ruby, s, samp, small, strike, summary, time, u, var, video {
  font-style:normal!important
}
div, p {
  word-break:break-all
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
}
main {
  position:relative;
  width:7.5rem;
  margin:0 auto;
  min-height:72vh;
  padding-top: 100px;
}
.public-section, .publicmain {
  padding:0 .3rem
}
.index-section {
  padding:0 .32rem
}
.space {
  height:.2rem;
  margin-top:.78rem
}
.space, .spaceAuto {
  width:100%;
  background:#f5f5f5
}
.spaceAuto {
  height:.1rem
}
.footer {
  width:7.5rem;
  max-width:100%;
  height:1.32rem;
  padding-top:.32rem;
  background:#f5f5f5;
  font-size:.24rem;
  line-height:.32rem;
  color:#595959
}
.footer, .footer div {
  text-align:center
}
.footer div a {
  color:#1a79ff;
  vertical-align:middle
}
.footer div a:first-child {
  color:#595959
}
.footer div span {
  display:inline-block;
  width:2px;
  height:.2rem;
  border-radius:2px;
  margin:0 .16rem;
  background:#d8d8d8;
  vertical-align:middle
}
.footer p {
  margin-top:.16rem;
  line-height:.3rem
}
.hide {
  display:none!important
}
.toast {
  display:none;
  position:fixed;
  left:50%;
  top:50%;
  height:.88rem;
  background:rgba(0, 0, 0, .7);
  padding:.2rem .45rem;
  transform:translate3d(-50%, -50%, 0);
  -webkit-transform:translate3d(-50%, -50%, 0);
  font-size:.3rem;
  line-height:.48rem;
  color:#fff;
  border-radius:.06rem;
  letter-spacing:2px;
  z-index:9999;
  white-space:nowrap
}
#top {
  display:none;
  bottom:3.64rem;
  height:1rem;
  background:url(//imgs.ebrun.com/wapsite/images/right-fixed.png) 0 0 no-repeat;
  background-size:1rem 2.7rem
}
#top, .right-open-app {
  position:fixed;
  right:.32rem;
  width:1rem;
  z-index:99
}
.right-open-app {
  display:block;
  bottom:2rem;
  height:1.4rem;
  background:url(//imgs.ebrun.com/wapsite/images/right-fixed.png) 0 100% no-repeat;
  background-size:1rem 2.7rem
}
.to-feedBack {
  display:none;
  position:fixed;
  right:.32rem;
  bottom:3.4rem;
  width:1rem;
  height:1rem;
  background:url(//imgs.ebrun.com/wapsite/images/common_sprites.png) -.1rem -.1rem no-repeat;
  background-size:4.12rem 3.56rem;
  z-index:99
}
.striveLoad, .striveLoadno {
  font-size:.28rem;
  line-height:1.1rem;
  color:#999;
  text-align:center
}
.blue-title {
  margin:.4rem 0 0;
  font-size:0
}
.blue-title .blue-line {
  display:inline-block;
  width:.06rem;
  height:.34rem;
  margin-right:.16rem;
  background:#1a79ff;
  border-radius:.06rem;
  vertical-align:middle
}
.blue-title .blue-title-name {
  display:inline-block;
  font-size:.34rem;
  line-height:.34rem;
  vertical-align:middle;
  font-weight:700
}
.blue-title .send-comment {
  float:right;
  padding-left:.4rem;
  margin-right:.1rem;
  background:url(//imgs.ebrun.com/wapsite/images/send-comment.png) left .03rem no-repeat;
  background-size:.3rem .28rem;
  font-size:.24rem;
  line-height:.34rem;
  color:#1a79ff
}
.blue-title .blue-title-more {
  float:right;
  font-size:.28rem;
  line-height:.34rem;
  color:#595959
}
.nuli_zhuan {
  padding:.4rem 0;
  width:100%;
  margin:0 auto;
  height:1.04rem;
  background:#fff;
  font-size:.24rem;
  line-height:.3rem;
  color:#787878;
  text-align:center
}
.nuli_zhuan img {
  display:inline-block;
  margin-right:.12rem;
  width:.3rem;
  height:.3rem;
  animation:zhuan 1s infinite linear
}
@keyframes zhuan {
  0% {
      transform:rotate(0deg)
  }
  to {
      transform:rotate(1turn)
  }
}
.all_bottom {
  padding:.39rem 0;
  width:100%;
  margin:0 auto;
  height:1.04rem;
  background:#fff;
  font-size:.24rem;
  line-height:.26rem;
  color:#787878;
  text-align:center
}
.header {
  position:relative;
  overflow:hidden;
  width:7.5rem;
  margin:0 auto;
  padding:.25rem .32rem .23rem;
  border-bottom:1px solid #eee
}
.header img {
  float:left;
  width:2.44rem;
  height:.4rem
}
.header .home-title {
  font-size:0;
  opacity:0
}
.header div {
  float:left;
  width:1px;
  height:.3rem;
  margin:.1rem .2rem 0;
  background:#1a79ff
}
.header a {
  float:left;
  padding-top:.02rem;
  font-size:.3rem;
  line-height:.48rem;
  color:#000
}
.header .user-login {
  overflow:hidden;
  position:absolute;
  right:.32rem;
  top:.25rem;
  padding-top:0;
  border-radius:50%
}
.header .user-login, .header .user-login img {
  width:.5rem;
  height:.5rem
}
.header .header-search {
  overflow:hidden;
  position:absolute;
  width:.5rem;
  height:.52rem;
  right:1.06rem;
  top:.25rem;
  padding-top:0;
  border-radius:50%;
  background:url(//imgs.ebrun.com/wapsite/images/common_sprites.png) -.84rem -1.92rem;
  background-size:4.12rem 3.56rem
}
.columnHeader {
  position:fixed;
  overflow:hidden;
  width:7.5rem;
  margin:0 0 0 -3.75rem;
  left:50%;
  top:0;
  padding:.25rem .3rem .23rem;
  background:rgba(0, 0, 0, .4);
  z-index:2
}
.columnHeader img {
  float:left;
  width:2.44rem;
  height:.4rem
}
.columnHeader div {
  float:left;
  width:1px;
  height:.3rem;
  margin:.1rem .2rem 0;
  background:#fff
}
.columnHeader a {
  float:left;
  padding-top:.02rem;
  font-size:.3rem;
  line-height:.48rem;
  color:#fff
}
.columnHeader .user-login {
  overflow:hidden;
  position:absolute;
  width:.5rem;
  height:.5rem;
  right:.3rem;
  top:.25rem;
  padding-top:0;
  border-radius:50%
}
.columnHeader .user-login img {
  width:.5rem;
  height:.5rem
}
.app-go-new {
  overflow:hidden;
  position:fixed;
  left:50%;
  bottom:-1000px;
  width:7.5rem;
  height:1.2rem;
  margin-left:-3.75rem;
  background:#fff;
  box-sizing:border-box;
  padding:.15rem 0 0;
  z-index:99
}
.app-go-pagenum {
  position:absolute;
  bottom:.05rem;
  left:0;
  width:100%;
  clear:both;
  text-align:center;
  font-size:0
}
.app-go-pagenum span {
  display:inline-block;
  width:.2rem;
  height:.04rem;
  margin:0 .05rem;
  border-radius:.04rem;
  background:#eee
}
.app-go-pagenum .active {
  background:#999
}
.app-close-new {
  position:absolute;
  right:0;
  top:0;
  display:block;
  width:.36rem;
  height:.36rem;
  background:url(//imgs.ebrun.com/wapsite/images/common_sprites.png) -3.74rem -1.02rem no-repeat;
  background-size:4.12rem 3.56rem;
  z-index:4
}
.app-go-new-img {
  position:relative;
  float:left;
  width:1.4rem;
  height:.9rem;
  padding:0 .2rem .3rem;
  z-index:2
}
.app-go-new-img li {
  position:absolute;
  overflow:hidden;
  border-radius:.2rem;
  -webkit-transition:all .8s;
  transition:all .8s;
  opacity:0
}
.app-go-new-img img, .app-go-new-img li {
  width:.9rem;
  height:.9rem
}
.app-go-new-img .current {
  opacity:1
}
.app-go-new-word {
  float:left;
  width:4.14rem;
  overflow:hidden
}
.app-go-new-word ul {
  position:relative
}
.app-go-new-word a {
  display:block;
  overflow:hidden;
  float:left;
  width:4.14rem;
  max-height:.8rem;
  margin-top:.05rem;
  font-size:.28rem;
  line-height:.4rem;
  color:#000
}
.app-go-btn {
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:2.1rem;
  background:#fff
}
.app-go-btn a {
  display:none;
  float:right;
  width:1.6rem;
  height:.6rem;
  margin:.3rem .3rem 0 0;
  border-radius:.6rem;
  background:#1a79ff;
  font-size:.3rem;
  line-height:.6rem;
  text-align:center;
  color:#fff
}
.home-open-app {
  position:relative;
  width:100%;
  max-width:7.5rem;
  margin:0 auto
}
.home-open-app img {
  width:100%;
  height:1.2rem
}
.home-open-app .home-open-app-close {
  position:absolute;
  right:0;
  top:0;
  display:block;
  width:.36rem;
  height:.36rem;
  background:url(//imgs.ebrun.com/wapsite/images/common_sprites.png) -3.74rem -1.02rem no-repeat;
  background-size:4.12rem 3.56rem;
  z-index:4
}
.article-share {
  position:fixed;
  left:50%;
  bottom:-1000px;
  width:7.5rem;
  height:100%;
  z-index:4;
  background:rgba(0, 0, 0, .6);
  margin-left:-3.75rem;
  z-index:1000
}
.article-share div {
  position:absolute;
  left:0;
  bottom:0;
  display:flex;
  width:100%;
  height:3.5rem;
  background:#fff;
  font-size:0
}
.article-share div a {
  padding-top:.74rem;
  display:inline-block;
  flex:1;
  text-align:center;
  font-size:.24rem
}
.article-share div a img {
  width:.54rem;
  height:.52rem;
  margin:0 auto
}
.article-share div a span {
  display:block;
  margin-top:.22rem;
  line-height:.22rem
}
.article-share div .article-share-wechat img {
  width:.58rem
}
.article-share .article-share-close {
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:1rem;
  border-top:1px solid #eee;
  text-align:center;
  font-size:.3rem;
  line-height:1rem;
  color:#bbb
}
.wechat-share {
  display:none;
  opacity:0;
  position:fixed;
  right:.2rem;
  top:.06rem;
  width:5rem;
  height:.86rem;
  padding-top:.38rem;
  background:url(//imgs.ebrun.com/wapsite/images/wechat-share.png) 0 0 no-repeat;
  background-size:5rem .86rem;
  z-index:1001;
  font-size:.3rem;
  line-height:.32rem;
  color:#fff;
  text-align:center
}
.wechat-share img {
  display:inline-block;
  width:.44rem;
  height:.1rem;
  vertical-align:middle;
  margin:0 .16rem
}
@keyframes oneopacity {
  0% {
      display:block;
      opacity:1
  }
  80% {
      opacity:.2
  }
  to {
      opacity:0
  }
}
.article-tools {
  width:100%;
  margin-top:.78rem;
  font-size:0;
  text-align:center
}
.article-tools div {
  position:relative;
  float:left;
  width:33.33%;
  font-size:.3rem;
  line-height:.32rem
}
.article-tools div a {
  overflow:hidden;
  display:block;
  width:.82rem;
  height:.82rem;
  margin:0 auto;
  border-radius:50%;
  border:1px solid #1c1c1c
}
.article-tools div a span {
  display:block;
  width:.88rem;
  height:.88rem
}
.article-tools div a img {
  width:.8rem;
  height:.8rem;
  margin:0 auto
}
.article-tools div i {
  width:100%;
  overflow:hidden;
  display:block;
  margin-top:.18rem;
  height:.32rem;
  font-style:normal
}
.article-tools div .plusflex {
  opacity:0;
  position:absolute;
  left:50%;
  top:-.4rem;
  font-size:.14rem;
  transform:translate3d(-50%, 0, 0);
  -webkit-transform:translate3d(-50%, 0, 0)
}
@keyframes wave {
  0% {
      background-position:-.2rem .32rem;
      background-size:1.6rem .4rem
  }
  to {
      background-position:-1rem .32rem;
      background-size:1.6rem .4rem
  }
}
.detail-thumb a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -1.08rem -1.06rem no-repeat;
  background-size:3rem 3rem
}
.article-tools .detail-thumb-overing {
  color:#f83e3e
}
.article-tools .detail-thumb-overing a {
  background:url(//imgs.ebrun.com/wapsite/images/animate02.png) top no-repeat;
  background-size:1.6rem .4rem;
  z-index:3;
  animation:wave 1s linear infinite;
  border-radius:50%;
  border-color:#f83e3e
}
.article-tools .detail-thumb-overing a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -2.08rem -.06rem no-repeat;
  background-size:3rem 3rem
}
.article-tools .detail-thumb-over {
  color:#f83e3e
}
.article-tools .detail-thumb-over a {
  border-color:#f83e3e
}
.article-tools .detail-thumb-over a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -2.08rem -1.06rem no-repeat;
  background-size:3rem 3rem
}
.article-tools .detail-thumb-over .plusflex {
  -webkit-transform-origin:center center;
  animation:oneopacity 1s
}
.article-tools .detail-thumb-status {
  color:#f83e3e
}
.article-tools .detail-thumb-status a {
  border-color:#f83e3e
}
.article-tools .detail-thumb-status a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -2.09rem -1.06rem no-repeat;
  background-size:3rem 3rem
}
.detail-collection a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -.09rem -.09rem no-repeat;
  background-size:3rem 3rem
}
.article-tools .detail-collection-overing {
  color:#ffb401
}
.article-tools .detail-collection-overing a {
  background:url(//imgs.ebrun.com/wapsite/images/animate01.png) top no-repeat;
  background-size:1.6rem .4rem;
  z-index:3;
  animation:wave 1s linear infinite;
  border-radius:50%;
  border-color:#ffb401
}
.article-tools .detail-collection-overing a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -1.09rem -.09rem no-repeat;
  background-size:3rem 3rem
}
.article-tools .detail-collection-over {
  color:#ffb401
}
.article-tools .detail-collection-over a {
  border-color:#ffb401
}
.article-tools .detail-collection-over a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -.09rem -1.09rem no-repeat;
  background-size:3rem 3rem
}
.article-tools .detail-collection-over .plusflex {
  -webkit-transform-origin:center center;
  animation:oneopacity 1s
}
.article-tools .detail-collection-status {
  color:#ffb401
}
.article-tools .detail-collection-status a {
  border-color:#ffb401
}
.article-tools .detail-collection-status a span {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -.09rem -1.09rem no-repeat;
  background-size:3rem 3rem
}
.article-list dl {
  overflow:hidden;
  padding:.4rem 0;
  border-bottom:1px solid #eee
}
.article-list a:last-child dl {
  border-bottom:none;
  padding-bottom:0
}
.article-list dt {
  float:left;
  width:4.3rem
}
.article-list dt p {
  overflow:hidden;
  height:1rem;
  margin-top:-.06rem;
  font-size:.34rem;
  line-height:.5rem;
  font-weight:700
}
.article-list dd {
  overflow:hidden;
  float:right;
  border-radius:.1rem
}
.article-list dd, .article-list dd img {
  width:2.25rem;
  height:1.5rem
}
.article-list-span {
  display:inline-block;
  margin-top:.2rem;
  padding:0 .15rem;
  height:.3rem;
  font-size:.22rem;
  line-height:.3rem;
  border-radius:.3rem;
  background:#eee;
  color:#999
}
.article-list-vote {
  display:inline-block;
  height:.22rem;
  padding:.04rem .12rem;
  margin-top:.16rem;
  background:none;
  border-radius:.28rem;
  font-size:.22rem;
  line-height:.22rem;
  font-style:normal
}
.article-list-vote, .releated-open-app {
  border:1px solid #1a79ff;
  text-align:center;
  color:#1a79ff
}
.releated-open-app {
  display:block;
  box-sizing:border-box;
  width:1.46rem;
  height:.46rem;
  margin-top:.12rem;
  border-radius:.46rem;
  font-size:.24rem;
  line-height:.44rem
}
.detail-app-open {
  overflow:hidden;
  display:block;
  width:6.6rem;
  height:.8rem;
  margin:.8rem auto 0;
  background:#1a79ff;
  border-radius:.8rem;
  font-size:.3rem;
  line-height:.8rem;
  color:#fff;
  text-align:center
}
.detail-app-open span {
  display:inline-block;
  padding-left:.42rem;
  background:url(//imgs.ebrun.com/wapsite/images/app-open-phone.png) left .25rem no-repeat;
  background-size:.2rem .3rem
}
.article-list-cut a:last-child dl, .public-list dl {
  border-bottom:1px solid #eee;
  padding:.4rem 0
}
.public-list dl {
  overflow:hidden
}
.public-list dt {
  float:left;
  width:4.3rem
}
.public-list dt p {
  overflow:hidden;
  height:1rem;
  font-size:.34rem;
  line-height:.5rem;
  font-weight:700
}
.public-list dt span {
  float:left;
  display:block;
  margin-right:.16rem;
  margin-top:.2rem;
  padding:0 .15rem;
  height:.3rem;
  font-size:.22rem;
  line-height:.3rem;
  border-radius:.3rem;
  background:#eee;
  color:#999
}
.public-list dt .article-list-vote {
  display:block;
  width:.64rem;
  height:.22rem;
  padding:.04rem 0;
  margin-top:.16rem;
  background:none;
  border-radius:.28rem;
  border:1px solid #1a79ff;
  font-size:.22rem;
  line-height:.22rem;
  text-align:center;
  color:#1a79ff;
  font-style:normal
}
.public-list dt .article-list-time {
  padding:0;
  font-size:.24rem;
  line-height:.3rem;
  background:none;
  color:#595959
}
.public-list dd {
  overflow:hidden;
  float:right;
  border-radius:.1rem
}
.public-list dd, .public-list dd img {
  width:2.25rem;
  height:1.5rem
}
.company-list dl {
  overflow:hidden;
  padding:.4rem 0;
  border-bottom:1px solid #eee
}
.company-list a:last-child dl {
  border-bottom:none
}
.company-list dt {
  float:left;
  width:4.3rem
}
.company-list dt p {
  overflow:hidden;
  height:.5rem;
  font-size:.34rem;
  line-height:.5rem;
  font-weight:700
}
.company-list dt span {
  overflow:hidden;
  display:block;
  height:.46rem;
  margin-top:.2rem;
  font-size:.28rem;
  line-height:.46rem;
  color:#595959
}
.company-list dd {
  overflow:hidden;
  float:right;
  border-radius:.1rem
}
.company-list dd, .company-list dd img {
  width:2.25rem;
  height:1.5rem
}
.subject-section .public-list a:last-child dl {
  border-bottom:none
}
.hidden {
  display:none
}
.top-advice {
  position:relative;
  width:7.5rem;
  margin:0 auto
}
.top-advice span {
  box-sizing:border-box;
  position:absolute;
  left:.1rem;
  bottom:.1rem;
  width:.6rem;
  height:.26rem;
  padding:.04rem 0;
  background:rgba(0, 0, 0, .5);
  color:#fff;
  font-size:.18rem;
  line-height:.18rem;
  text-align:center;
  border-radius:.26rem
}
.top-advice img {
  min-height:.9rem
}
.top-advice-close {
  position:absolute;
  width:.36rem;
  height:.36rem;
  right:0;
  top:0;
  background:url(//imgs.ebrun.com/wapsite/images/close.png) center .1rem no-repeat;
  background-size:.16rem .16rem
}
.channel_nav {
  position:relative;
  width:100%;
  max-width:7.5rem;
  padding:.16rem 0 .14rem;
  height:.86rem;
  margin:0 auto;
  border-bottom:1px solid #eee
}
.channel_nav .swiper-slide {
  width:auto;
  padding:0 .28rem;
  font-size:.3rem;
  line-height:.5rem
}
.channel_nav .swiper-slide a {
  display:block
}
.channel_nav .swiper-slide span {
  display:block;
  width:.24rem;
  height:.04rem;
  margin:0 auto;
  border-radius:.04rem;
  background:#fff;
  opacity:0
}
.channel_nav .nav-active a {
  color:#1a79ff;
  font-weight:700
}
.channel_nav .nav-active span {
  opacity:1;
  background:#1a79ff
}
.channel_nav .nav-right-shade {
  z-index:2;
  position:absolute;
  right:0;
  top:0;
  width:.8rem;
  height:100%;
  background:-webkit-linear-gradient(left, hsla(0, 0%, 100%, .3), #fff)
}
.channel_nav .nav-station {
  width:.5rem
}
.channel-main {
  position:relative;
  min-height:80vh
}
.channel-main .public-section {
  background:#fff;
  position:relative
}
.loading {
  position:absolute;
  width:100%;
  height:100%;
  background:#fff;
  z-index:2
}
.loadMore {
  position:absolute;
  left:0;
  top:3rem;
  width:7.5rem;
  height:1rem;
  font-size:0;
  text-align:center;
  z-index:1
}
.loadMore span {
  display:inline-block;
  width:.16rem;
  height:.16rem;
  margin:.42rem .06rem .06rem;
  border-radius:50%;
  background:#1a8cff
}
.loadMore span:first-child {
  opacity:.5;
  transform-origin:center center;
  animation:loadOne 1.2s infinite
}
.loadMore span:nth-child(2) {
  opacity:1;
  transform-origin:center center;
  animation:loadTwo 1.2s 1.2s infinite
}
.loadMore span:nth-child(3) {
  opacity:.5;
  transform-origin:center center;
  animation:loadOne 1.2s infinite
}
@keyframes loadOne {
  0% {
      opacity:.5
  }
  50% {
      opacity:1
  }
  to {
      opacity:.5
  }
}
@keyframes loadTwo {
  0% {
      opacity:1
  }
  50% {
      opacity:.5
  }
  to {
      opacity:1
  }
}
.ebLoadOpacity {
  animation:ebLoad .2s linear forwards
}
@keyframes ebLoad {
  0% {
      display:block;
      opacity:1
  }
  to {
      display:none;
      opacity:0
  }
}
.channel-filter {
  position:relative;
  border-bottom:1px solid #f5f5f5;
  z-index:2;
  background:#fff
}
.channel-filter li:first-child span {
  width:1.06rem;
  padding-left:0
}
.channel-filter li {
  float:left
}
.channel-filter li span {
  box-sizing:border-box;
  overflow:hidden;
  float:left;
  width:1.6rem;
  padding-left:.3rem;
  display:block;
  margin-right:.1rem;
  font-size:.3rem;
  line-height:1rem;
  text-align:right;
  white-space:nowrap;
  text-overflow:ellipsis
}
.channel-filter li .arrow {
  position:relative;
  display:block;
  float:left;
  width:.2rem;
  height:1rem;
  font-size:.3rem
}
.channel-filter li .arrow:after, .channel-filter li .arrow:before {
  width:0;
  height:0;
  top:.48rem;
  border:.1rem solid transparent;
  border-top-color:#000;
  position:absolute;
  content:"";
  right:0
}
.channel-filter li .arrow:before {
  top:.45rem;
  right:0;
  border-top-color:#fff;
  z-index:2
}
.channel-filter li div {
  position:absolute;
  left:0;
  top:1.02rem;
  width:7.5rem;
  padding:.1rem 0 .5rem;
  background:#fff;
  font-size:0;
  z-index:2
}
.channel-filter li div a {
  display:inline-block;
  width:1.46rem;
  height:.54rem;
  margin:.4rem 0 0 .3rem;
  border:1px solid #999;
  border-radius:.54rem;
  font-size:.26rem;
  line-height:.54rem;
  text-align:center
}
.channel-filter li div .chosed {
  border:1px solid #1a79ff;
  color:#1a79ff
}
.channel-filter .filter span {
  color:#1a79ff
}
.channel-filter .filter .arrow:after, .channel-filter .filter .arrow:before {
  width:0;
  height:0;
  top:.48rem;
  border:.1rem solid transparent;
  border-top-color:#1a79ff;
  position:absolute;
  content:"";
  right:0
}
.channel-filter .filter .arrow:before {
  top:.45rem;
  right:0;
  border-top-color:#fff;
  z-index:2
}
.channel-filter .active .arrow {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg)
}
.channel-filter .active .arrow:after, .channel-filter .active .arrow:before {
  top:.41rem
}
.channel-filter .active .arrow:before {
  top:.38rem
}
.channel-opacity {
  position:absolute;
  left:0;
  top:0;
  width:7.5rem;
  height:100%;
  background:rgba(0, 0, 0, .6);
  z-index:1
}
.channel-meet {
  position:relative
}
.channel-meet .no-content {
  position:fixed;
  width:6.9rem;
  left:50%;
  top:50%;
  font-size:.28rem;
  line-height:.32rem;
  color:#999;
  text-align:center;
  transform:translate3d(-50%, 50%, 0)
}
.channel-meet-list {
  overflow:hidden;
  padding:.5rem 0;
  border-bottom:1px solid #f5f5f5
}
.channel-meet-list .channel-meet-list-img {
  float:left;
  overflow:hidden;
  width:3rem;
  height:1.5rem;
  border-radius:.1rem
}
.channel-meet-list .channel-meet-list-img img {
  width:3rem;
  height:1.5rem
}
.channel-meet-list .channel-meet-list-right {
  position:relative;
  margin-left:3.2rem
}
.channel-meet-list .channel-meet-list-right p {
  overflow:hidden;
  width:100%
}
.channel-meet-list .channel-meet-list-right .channel-meet-list-title {
  overflow:hidden;
  height:.84rem;
  margin-top:-.05rem;
  font-size:.3rem;
  line-height:.42rem;
  font-weight:700
}
.channel-meet-list .channel-meet-list-right .channel-meet-list-time {
  height:.34rem;
  margin-top:.11rem;
  font-size:.22rem;
  line-height:.34rem;
  color:#595959
}
.channel-meet-list .channel-meet-list-right .channel-meet-list-adress {
  width:2.8rem;
  height:.32rem;
  font-size:.22rem;
  line-height:.32rem;
  color:#595959
}
.channel-meet-list .channel-meet-list-right .channel-meet-list-doing {
  position:absolute;
  right:0;
  bottom:0;
  color:#00bf69;
  font-size:.22rem;
  line-height:.3rem
}
.channel-label-list dl {
  padding:.4rem 0;
  border-bottom:1px solid #eee
}
.channel-label-list dl dt {
  width:100%
}
.channel-label-list dl dt p {
  overflow:hidden;
  width:100%;
  height:.38rem;
  font-size:.34rem;
  line-height:.38rem;
  font-weight:700
}
.channel-label-list dl dt span {
  overflow:hidden;
  width:100%;
  height:.32rem;
  margin-top:.32rem;
  display:block;
  font-size:.28rem;
  line-height:.32rem;
  color:#595959
}
.channel-label-list dl dd {
  overflow:hidden;
  margin-left:5.5rem;
  border-radius:.1rem
}
.channel-label-list dl dd, .channel-label-list dl dd img {
  width:1.4rem;
  height:1.4rem
}
.channel-search {
  position:relative;
  padding:.4rem .3rem;
  border-bottom:1px solid #eee
}
.channel-search input {
  width:100%;
  padding:.12rem 0;
  height:.64rem;
  border-radius:.5rem;
  font-size:.29rem;
  line-height:.4rem;
  background:url(//imgs.ebrun.com/wapsite/images/search.png) .24rem .16rem no-repeat #f5f5f5;
  background-size:.32rem .32rem;
  text-indent:.7rem
}
.channel-library-list {
  overflow:hidden;
  padding:.4rem 0;
  border-bottom:1px solid #eee
}
.channel-library-list .channel-library-list-left {
  float:left;
  width:4.2rem
}
.channel-library-list .channel-library-list-left .channel-library-list-name {
  width:100%;
  height:.36rem;
  font-size:.34rem;
  line-height:.36rem;
  font-weight:700
}
.channel-library-list .channel-library-list-left .channel-library-list-content {
  overflow:hidden;
  margin-top:.28rem;
  width:100%;
  height:.3rem;
  font-size:.28rem;
  line-height:.3rem;
  color:#595959
}
.channel-library-list .channel-library-list-left .channel-library-list-icon {
  box-sizing:border-box;
  float:left;
  display:block;
  height:.3rem;
  margin-top:.16rem;
  padding:0 .12rem;
  font-size:.22rem;
  line-height:.3rem;
  border-radius:.3rem;
  background:#e5f0ff;
  color:#1a79ff
}
.channel-library-list .channel-library-list-right {
  overflow:hidden;
  float:right;
  width:1.48rem;
  height:1.48rem;
  border-radius:.1rem;
  border:1px solid #eee
}
.channel-library-list .channel-library-list-right img {
  width:100%;
  height:100%
}
.channel-person-list {
  padding-top:.1rem
}
.channel-person-list dl {
  padding:.4rem 0;
  border-bottom:1px solid #eee
}
.channel-person-list dl dt {
  overflow:hidden;
  margin-left:1.2rem;
  height:1rem
}
.channel-person-list dl dt p, .channel-person-list dl dt span {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:100%
}
.channel-person-list dl dt p {
  height:.48rem;
  margin-top:.08rem;
  font-size:.34rem;
  line-height:.48rem;
  font-weight:700
}
.channel-person-list dl dt span {
  height:.38rem;
  display:block;
  font-size:.28rem;
  line-height:.38rem;
  color:#595959
}
.channel-person-list dl dd {
  float:left;
  overflow:hidden;
  width:1rem;
  height:1rem;
  border-radius:50%
}
.channel-person-list dl dd img {
  width:1rem;
  height:1rem
}
.interlocation {
  width:7.5rem;
  margin:0 auto;
  padding-top:.1rem;
  font-size:.34rem
}
.interlocation dl {
  position:relative;
  box-sizing:border-box;
  width:100%;
  padding:.4rem .3rem .36rem;
  box-shadow:0 1px 2px #f5f5f5
}
.interlocation dl dt {
  overflow:hidden;
  border-radius:.1rem
}
.interlocation dl dt, .interlocation dl dt img {
  width:100%;
  height:2.3rem
}
.interlocation dl .interlocation-title {
  width:100%;
  margin-top:.24rem;
  overflow:hidden;
  font-weight:700;
  line-height:.56rem;
  max-height:1.12rem
}
.interlocation dl .interlocation-title a {
  color:#1c1c1c
}
.interlocation dl .interlocation-state {
  font-size:0;
  margin-top:.09rem
}
.interlocation dl .interlocation-state span {
  margin-right:.24rem;
  font-size:.24rem;
  line-height:.48rem;
  color:#666
}
.interlocation dl .interlocation-state span:last-child {
  float:right;
  margin-right:0
}
.interlocation dl .interlocation-state .interlocation-doing {
  float:right;
  margin:0;
  padding-left:.35rem;
  background:url(//imgs.ebrun.com/wapsite/images/fire.png) left 0 no-repeat;
  background-size:.28rem .38rem;
  color:#ff3b30
}
.interlocation .hr {
  width:100%;
  height:.2rem;
  background:#f5f5f5
}
.channel-ebnumber {
  padding:.2rem .3rem 0
}
.channel-ebnumber .channel-ebnumber-list-top {
  overflow:hidden;
  padding:.3rem 0
}
.channel-ebnumber .channel-ebnumber-list-top img {
  float:left;
  width:.4rem;
  height:.4rem;
  border-radius:50%
}
.channel-ebnumber .channel-ebnumber-list-top p {
  float:left;
  margin:0 .1rem;
  font-size:.24rem;
  line-height:.4rem;
  color:#595959
}
.channel-ebnumber .channel-ebnumber-list-top span {
  float:left;
  display:block;
  width:.2rem;
  height:.2rem;
  margin:.12rem 0 0
}
.channel-ebnumber .channel-ebnumber-list-top .ebperson {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -1.1rem -2.39rem no-repeat;
  background-size:3rem 3rem
}
.channel-ebnumber .channel-ebnumber-list-top .ebcompany {
  background:url(//imgs.ebrun.com/wapsite/images/detail_sprites.png) -1.1rem -2.1rem no-repeat;
  background-size:3rem 3rem
}
.channel-ebnumber dl {
  padding:0 0 .5rem
}
.person-center {
  overflow:hidden;
  padding:.3rem;
  border-bottom:1px solid #eee
}
.person-center img {
  float:left;
  width:.9rem;
  height:.9rem;
  border-radius:50%
}
.person-center span {
  float:left;
  margin-left:.2rem;
  font-weight:700;
  font-size:.34rem;
  line-height:.9rem
}
.person-center a {
  float:right;
  margin-top:.15rem;
  width:1.18rem;
  height:.58rem;
  font-size:.28rem;
  line-height:.58rem;
  text-align:center;
  border-radius:.58rem;
  color:#595959;
  border:1px solid #eee
}
.person-collection {
  padding:0 .3rem;
  margin-top:.4rem;
  font-size:.36rem;
  line-height:.36rem;
  font-weight:700
}
.person-no-collection {
  position:absolute;
  width:100%;
  left:50%;
  top:50%;
  transform:translate3d(-50%, -50%, 0);
  -webkit-transform:translate3d(-50%, -50%, 0);
  z-index:1
}
.person-no-collection img {
  width:2.9rem;
  height:1.87rem;
  margin:0 auto
}
.person-no-collection p {
  margin-top:.45rem;
  font-size:.28rem;
  line-height:.32rem;
  color:#595959;
  text-align:center
}
.feed-back {
  font-size:.3rem
}
.feed-back input, .feed-back p, .feed-back textarea {
  box-sizing:border-box;
  font-size:.3rem;
  line-height:.46rem
}
.feed-back textarea {
  margin:.28rem 0;
  padding:0 .3rem;
  width:100%;
  height:3.8rem;
  font-family:PingFang sc, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
}
.feed-back input {
  width:100%;
  padding:.3rem;
  font-family:sans-serif;
  border-top:1px solid #eee;
  border-bottom:1px solid #eee
}
.feed-back p {
  padding:0 .3rem;
  margin-bottom:.2rem;
  text-align:right;
  color:#999
}
.feed-back p .red {
  color:#ff3b30
}
.feed-back a {
  display:block;
  width:6rem;
  height:.8rem;
  margin:.7rem auto 0;
  background:#1a79ff;
  border-radius:.8rem;
  text-align:center;
  color:#fff;
  font-size:.34rem;
  line-height:.8rem
}
.common-tip {
  position:fixed;
  left:50%;
  top:50%;
  width:5.4rem;
  background:#fff;
  transform:translate3d(-50%, -50%, 0);
  -webkit-transform:translate3d(-50%, -50%, 0);
  text-align:center;
  line-height:.46rem;
  border-radius:.2rem
}
.common-tip p {
  margin-top:.4rem;
  font-size:.34rem
}
.common-tip span {
  margin-top:.32rem;
  display:block;
  font-size:.3rem
}
.common-tip a {
  margin-top:.4rem;
  display:block;
  width:100%;
  font-size:.3rem;
  height:1rem;
  color:#1a79ff;
  line-height:1rem;
  border-top:1px solid #eee
}
.common-opacity-bg {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, .6)
}
.eb-search {
  position:relative;
  background:#fff
}
.eb-search input {
  width:6rem
}
.eb-search .do-search {
  float:right;
  font-size:.3rem;
  line-height:.64rem
}
.eb-search .delete {
  position:absolute;
  left:5.6rem;
  top:.4rem;
  width:.64rem;
  height:.64rem;
  background:url(//imgs.ebrun.com/wapsite/images/delete.png) center .2rem no-repeat;
  background-size:.24rem .24rem
}
.search-corp {
  border-bottom:1px solid #eee
}
.search-list-library-title {
  margin:.3rem 0 .1rem;
  font-size:.3rem;
  line-height:.5rem
}
.search-list-library {
  overflow:hidden;
  margin-bottom:.4rem
}
.search-list-library img {
  float:left;
  width:.9rem;
  height:.9rem;
  border-radius:.1rem;
  border:1px solid #eee
}
.search-list-library p {
  overflow:hidden;
  float:left;
  width:3.9rem;
  height:.9rem;
  margin-left:.18rem;
  line-height:.9rem;
  font-size:.3rem;
  font-weight:700
}
.search-list-library span {
  float:right;
  width:.9rem;
  height:.44rem;
  margin-top:.28rem;
  border-radius:.44rem;
  background:#1a79ff;
  color:#fff;
  font-size:.24rem;
  line-height:.44rem;
  text-align:center
}
.search-list-rest {
  text-align:center;
  font-size:.28rem;
  line-height:.32rem;
  color:#1a79ff
}
.search-list-rest span {
  display:inline-block;
  width:.3rem;
  height:.16rem;
  margin:.08rem 0 0 .1rem;
  /* background:url(//imgs.ebrun.com/wapsite/images/public_sprites.png) -.1rem -1.3rem no-repeat; */
  background-size:2.4rem 1.56rem
}
.search-list {
  margin-top:.3rem;
  font-size:.28rem;
  line-height:.46rem
}
.search-list .search-list-num {
  margin:.2rem 0 -.16rem;
  color:#595959
}
.search-list dl {
  padding:.3rem 0;
  border-bottom:1px solid #eee
}
.search-list dl dt {
  margin-bottom:.08rem;
  font-size:.34rem;
  line-height:.5rem;
  font-weight:700
}
.search-list dl dd {
  overflow:hidden;
  max-height:.92rem
}
.search-list dl i {
  font-style:normal;
  color:#1a79ff
}
.search-list .article-list-icon {
  float:right;
  display:block;
  height:.22rem;
  margin:.12rem 0 0 .16rem;
  padding:.04rem .12rem;
  background:#e5f0ff;
  border-radius:.28rem;
  font-size:.22rem;
  line-height:.22rem;
  text-align:center;
  color:#1a79ff;
  font-style:normal
}
.search-list .article-list-time {
  float:right;
  padding:0;
  margin:.13rem 0 0 .16rem;
  font-size:.24rem;
  line-height:.3rem;
  background:none;
  color:#595959
}
.search-main {
  min-height:90vh;
  padding-bottom:.3rem
}
.search-no-result {
  padding:.3rem;
  font-size:.3rem
}
.search-no-result p {
  margin-bottom:.08rem;
  line-height:.5rem
}
.search-no-result li {
  font-size:.28rem;
  line-height:.46rem;
  color:#999
}
.search-no-result li a {
  color:#1a79ff
}