applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, ins, kbd, q, s, samp, small, strike, var, u, center, fieldset, aside, canvas, details, embed, figure, figcaption, hgroup, menu, output, ruby, summary, time, mark, audio, video {
    font-style:normal!important
}
html {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
    margin:0;
    padding:0
}
ol, ul {
    list-style:none
}
article, aside, audio, canvas, details, figcaption, figure, footer, header, main, menu, nav, progress, section, summary, video {
    display:block;
    margin:0;
    padding:0
}
a {
    text-decoration:none;
    background-color:transparent;
    -webkit-text-decoration-skip:objects;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none;
    -webkit-user-select:none
}
a:active, a:hover {
    outline-width:0;
    text-decoration:none
}
img {
    border-style:none;
    vertical-align:middle
}
button, input, optgroup, select, textarea {
    font:inherit;
    margin:0;
    padding:0
}
button, input {
    overflow:visible
}
button, select {
    text-transform:none
}
textarea {
    overflow:auto;
    resize:none
}
::-webkit-input-placeholder {
    color:#999
}
:-moz-placeholder {
    color:#999
}
::-moz-placeholder {
    color:#999
}
:-ms-input-placeholder {
    color:#999
}
.hide {
    display:none!important
}
.hidden {
    visibility:hidden!important
}
.f-left {
    float:left
}
.f-right {
    float:right
}
.text-left {
    text-align:left
}
.text-center {
    text-align:center
}
.text-right {
    text-align:right
}
.relative {
    position:relative
}
.absolute {
    position:absolute
}
.fixed {
    position:fixed
}
.static {
    position:static!important
}
.g-top-bar {
    position:fixed;
    top:0;
    left:0;
    z-index:999
}
.focus-container {
    position:relative;
    overflow:hidden
}
.focus-wrapper {
    position:absolute;
    top:0;
    left:0
}
.focus-wrapper:before, .focus-wrapper:after {
    content:" ";
    display:table
}
.focus-wrapper:after {
    clear:both
}
.focus-slide {
    float:left
}
.focus-next, .focus-prev {
    position:absolute;
    top:50%;
    -webkit-transform:translate(0, -50%);
    -moz-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    -o-transform:translate(0, -50%);
    transform:translate(0, -50%);
    cursor:pointer
}
.focus-prev {
    left:0
}
.focus-next {
    right:0
}
.focus-pagination {
    position:absolute;
    width:100%;
    overflow:hidden;
    font-size:0;
    text-align:center
}
.focus-pagination a {
    display:inline-block
}
.g-footer {
    margin-top:40px;
    padding-top:40px;
    border-top:1px solid #eee
}
.g-footer .g-ststem {
    width:1160px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px
}
.g-footer .g-copyright {
    width:100%;
    height:40px;
    margin-top:24px;
    background-color:#1c1c1c
}
.g-footer .copyright-panel {
    width:1160px;
    height:100%;
    margin-left:auto;
    margin-right:auto
}
.g-footer .copyright-panel:before, .g-footer .copyright-panel:after {
    content:" ";
    display:table
}
.g-footer .copyright-panel:after {
    clear:both
}
.g-footer .copyright-panel .g-copyright-text {
    font-size:12px;
    font-weight:400;
    line-height:40px;
    color:#ddd
}
.g-footer .copyright-panel .g-copyright-left {
    width:310px;
    background:url(../images/ico_topbar_line.png) no-repeat right 15px
}
.g-footer .copyright-panel .g-copyright-center {
    width:670px;
    background:url(../images/ico_topbar_line.png) no-repeat right 15px
}
.g-footer .copyright-panel .g-copyright-right {
    width:180px
}
.aside-panel {
    float:right;
    width:300px;
    height:100%;
    background-color:#fafafa
}
.sider-bar {
    position:fixed;
    bottom:100px;
    right:0;
    z-index:700
}
.sider-bar .app {
    width:60px
}
.sider-bar .app p {
    height:20px;
    font-size:12px;
    line-height:20px;
    text-align:center;
    color:#333
}
.sider-bar .app img {
    display:block;
    width:100%;
    height:60px
}
.sider-bar .back {
    width:60px;
    height:60px;
    margin-top:12px;
    overflow:hidden;
    background:#fafafa url(http://imgs.ebrun.com/master/images/ico_sider_back.png?__sprite) no-repeat center center;
    cursor:pointer
}
.g-sublevel-content {
    position:relative;
    width:1160px;
    margin:38px auto 0
}
.g-sublevel-content:before, .g-sublevel-content:after {
    content:" ";
    display:table
}
.g-sublevel-content:after {
    clear:both
}
.g-sublevel-content .g-sublevel-main {
    width:820px;
    overflow:hidden
}
.g-sublevel-content .g-sublevel-side {
    width:300px;
    overflow:hidden
}
.g-sublevel-content .g-sublevel-side .aside-panel {
    margin-top:20px
}
.g-sublevel-content .g-sublevel-side .side-com-title {
    width:260px;
    margin:0 auto;
    height:38px;
    padding-top:28px
}
.g-sublevel-content .g-sublevel-side .side-com-title:before, .g-sublevel-content .g-sublevel-side .side-com-title:after {
    content:" ";
    display:table
}
.g-sublevel-content .g-sublevel-side .side-com-title:after {
    clear:both
}
.g-sublevel-content .g-sublevel-side .side-com-title h3 {
    float:left;
    font-size:18px;
    font-weight:700;
    line-height:18px;
    color:#1c1c1c
}
.g-sublevel-content .g-sublevel-side .side-com-title span {
    float:left;
    margin:4px 0 0 13px;
    font-size:14px;
    line-height:14px;
    color:#bbb
}
.g-sublevel-content .g-sublevel-side .side-com-title a {
    float:right;
    width:13px;
    height:13px;
    margin-top:2px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_side2_jia.png?__sprite) center center no-repeat */
}
.g-sublevel-content .g-sublevel-side .side-com-title a.side-more-arrow {
    /* background:url(http://imgs.ebrun.com/master/images/ico_side_more2.png?__sprite) center center no-repeat */
}
.g-sublevel-content .sublevel-aside-adv {
    padding:20px 0
}
.g-sublevel-content .sublevel-aside-adv object {
    display:block
}
.g-sublevel-content .sublevel-aside-adv .adv-img {
    position:relative;
    width:260px;
    height:90px;
    margin:0 auto;
    overflow:hidden
}
.g-sublevel-content .sublevel-aside-adv .adv-img a, .g-sublevel-content .sublevel-aside-adv .adv-img img {
    display:block;
    width:100%;
    height:100%
}
.g-sublevel-content .sublevel-aside-adv .adv-img .adv-text {
    position:absolute;
    bottom:0;
    left:0;
    width:30px;
    height:18px;
    font-size:12px;
    line-height:18px;
    text-align:center;
    color:#fff;
    background-color:rgba(0, 0, 0, .6);
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    cursor:pointer
}
.g-sublevel-content .sublevel-aside-adv .adv-img .adv-text img {
    display:block;
    margin:0 auto
}
.g-sublevel-content .sublevel-aside-adv .adv-title {
    position:relative;
    width:260px;
    height:20px;
    overflow:hidden;
    margin:11px auto 0;
    padding-left:13px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-size:14px;
    color:#999
}
.g-sublevel-content .sublevel-aside-adv .adv-title:hover {
    color:#1a79ff
}
.g-sublevel-content .sublevel-aside-adv .adv-title:before {
    content:' ';
    position:absolute;
    top:8px;
    left:0;
    width:4px;
    height:4px;
    overflow:hidden;
    line-height:4px;
    background-color:#bbb;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.g-sublevel-content .post-panel {
    margin-top:40px
}
.g-sublevel-content .post-panel .post-title {
    font-size:22px;
    font-weight:700;
    line-height:100%;
    color:#1c1c1c
}
.sublevel-side-panel .side2-panel .side2-ebrun-num p {
    height:auto;
    max-height:44px
}
.sublevel-side-panel .side4-panel dd a {
    font-size:14px
}
.sublevel-side-panel .side6-panel dl {
    padding-bottom:20px
}
.sublevel-side-panel .side6-panel dl dt {
    margin-bottom:13px
}
.sublevel-side-panel .side6-panel dl dd {
    padding-top:12px
}
.sublevel-side-panel .side6-panel dl dd.side6-panel-list {
    padding:0
}
.sublevel-side-panel .side6-panel dl a {
    font-size:14px
}
.sublevel-share {
    width:100px;
    overflow:hidden
}
.sublevel-share li {
    display:block;
    width:100%;
    height:68px;
    font-size:14px;
    line-height:38px;
    border-top:1px solid #fafafa
}
.sublevel-share li:before, .sublevel-share li:after {
    content:" ";
    display:table
}
.sublevel-share li:after {
    clear:both
}
.sublevel-share li:nth-of-type(1) {
    border-top:0 none
}
.sublevel-share li a {
    display:block;
    float:left;
    height:38px;
    margin-top:15px;
    padding-left:60px;
    color:#bbb
}
.sublevel-share li a:hover {
    color:#333!important
}
.sublevel-share li.weibo a {
    /* background:url(http://imgs.ebrun.com/master/images/ico_system_weibo.png?__sprite) no-repeat left top */
}
.sublevel-share li.weibo a:hover {
    /* background:url(http://imgs.ebrun.com/master/images/ico_weibo_hover.png?__sprite) no-repeat left top */
}
.sublevel-share li.weixin a {
    /* background:url(http://imgs.ebrun.com/master/images/ico_weixin.png?__sprite) no-repeat left top */
}
.sublevel-share li.weixin a:hover {
    /* background:url(http://imgs.ebrun.com/master/images/ico_weixin_hover.png?__sprite) no-repeat left top */
}
.sublevel-share li.qzone a {
    /* background:url(http://imgs.ebrun.com/master/images/ico_qzone.png?__sprite) no-repeat left top; */
    height:36px;
    padding-top:1px;
    padding-bottom:1px;
    line-height:18px
}
.sublevel-share li.qzone a:hover {
    /* background:url(http://imgs.ebrun.com/master/images/ico_qzone_hover.png?__sprite) no-repeat left top */
}
.sublevel-share .bds_more {
    display:block!important;
    float:left!important;
    height:38px!important;
    margin:15px 0 0!important;
    padding:0 0 0 60px!important;
    font-size:14px!important;
    line-height:38px!important;
    color:#bbb!important;
    /* background:url(http://imgs.ebrun.com/master/images/ico_more.png?__sprite) no-repeat left top!important */
}
.sublevel-share .bds_more:hover {
    color:#333!important;
    /* background:url(http://imgs.ebrun.com/master/images/ico_more_hover.png?__sprite) no-repeat left top!important */
}
.breadcrumb-navigation {
    height:34px;
    line-height:34px
}
.breadcrumb-navigation ul {
    font-size:0
}
.breadcrumb-navigation li {
    display:inline-block;
    margin:0 4px;
    font-size:16px;
    line-height:34px;
    color:#999
}
.breadcrumb-navigation li a {
    color:#333
}
.breadcrumb-navigation li a:hover {
    color:#1a79ff
}
body {
    position:relative;
    padding-top:40px!important;
    min-width:1160px
}
.g-top-bar {
    width:100%;
    height:40px;
    background-color:#1c1c1c
}
.g-header {
    margin-top:40px
}
.g-main-panel-body {
    width:1160px;
    height:422px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto
}
.g-main-panel-body:before, .g-main-panel-body:after {
    content:" ";
    display:table
}
.g-main-panel-body:after {
    clear:both
}
.g-main-panel-body.g-main-first-screen {
    margin-top:40px
}
.g-main-panel-body .g-main-well {
    width:820px
}
.g-main-first-screen {
    height:350px;
    overflow:hidden
}
.fengtao .pic-list {
    width:360px;
    height:148px
}
.fengtao .pic-list ul {
    width:372px
}
.fengtao .pic-list ul li {
    width:174px;
    height:148px;
    margin-right:12px
}
.fengtao .pic-list .pic {
    display:block;
    width:100%;
    height:116px;
    overflow:hidden
}
.fengtao .pic-list .pic img {
    display:block;
    width:100%;
    height:100%;
    -webkit-transform:scale(1, 1);
    -moz-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    -o-transform:scale(1, 1);
    transform:scale(1, 1);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.fengtao .pic-list .pic img:hover {
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    transform:scale(1.2, 1.2);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.fengtao .pic-list .font {
    width:100%;
    height:20px;
    margin-top:6px;
    font-size:14px;
    line-height:20px;
    width:100%;
    height:20px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.fengtao .pic-list .font a {
    color:#333
}
.fengtao .pic-list .font a:hover {
    color:#1a79ff
}
.main-list-wrap li {
    width:100%;
    overflow:hidden;
    font-size:18px;
    text-overflow:ellipsis;
    white-space:nowrap
}
.main-list-wrap li.bold {
    font-weight:700
}
.main-list-wrap li a {
    color:#333
}
.main-list-wrap li a:hover {
    color:#1a79ff
}
.other-main-title {
    height:66px;
    margin-bottom:30px;
    line-height:66px;
    border-bottom:1px solid #eee
}
.other-main-title:before, .other-main-title:after {
    content:" ";
    display:table
}
.other-main-title:after {
    clear:both
}
.other-main-title .title-text {
    float:left;
    font-size:26px;
    text-indent:30px;
    color:#1c1c1c
}
.other-main-title .sub-nav {
    float:right
}
.other-main-title .sub-nav .sub-nav-text {
    position:relative;
    top:5px;
    float:left;
    margin:0 18px;
    font-weight:400;
    color:#999
}
.other-main-title .sub-nav .sub-nav-text:hover {
    color:#1a79ff
}
.other-main-title .sub-nav .sub-nav-text:after {
    content:'';
    position:absolute;
    top:50%;
    right:-18px;
    width:2px;
    height:2px;
    background-color:#ccc
}
.other-main-title .sub-nav .sub-nav-text.last {
    margin-right:0
}
.other-main-title .sub-nav .sub-nav-text.last:after {
    background:0 0
}
.g-main-pic-font {
    width:360px;
    margin-right:40px
}
.g-main-list {
    width:420px
}
.pic-list {
    overflow:hidden
}
.pic-list ul:before, .pic-list ul:after {
    content:" ";
    display:table
}
.pic-list ul:after {
    clear:both
}
.pic-list ul li {
    float:left
}
.pic-list ul li img {
    display:block
}
.side-com-title {
    width:260px;
    margin:0 auto;
    height:38px;
    padding-top:28px
}
.side-com-title:before, .side-com-title:after {
    content:" ";
    display:table
}
.side-com-title:after {
    clear:both
}
.side-com-title h3 {
    float:left;
    font-size:18px;
    font-weight:700;
    line-height:18px;
    color:#1c1c1c
}
.side-com-title span {
    float:left;
    margin:4px 0 0 13px;
    font-size:14px;
    line-height:14px;
    color:#bbb
}
.side-com-title a {
    float:right;
    width:13px;
    height:13px;
    margin-top:2px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_side2_jia.png?__sprite) center center no-repeat */
}
.side-com-title a.side-more-arrow {
    /* background:url(http://imgs.ebrun.com/master/images/ico_side_more2.png?__sprite) center center no-repeat */
}
.item-1 {
    width:2em
}
.g-main-panel-ico1 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_1.png?__sprite) no-repeat left center */
}
.item-2 {
    width:4em
}
.g-main-panel-ico2 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_2.png?__sprite) no-repeat left center */
}
.item-3 {
    width:6em
}
.g-main-panel-ico3 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_3.png?__sprite) no-repeat left center */
}
.item-4 {
    width:8em
}
.g-main-panel-ico4 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_4.png?__sprite) no-repeat left center */
}
.item-5 {
    width:10em
}
.g-main-panel-ico5 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_5.png?__sprite) no-repeat left center */
}
.item-6 {
    width:12em
}
.g-main-panel-ico6 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_6.png?__sprite) no-repeat left center */
}
.item-7 {
    width:14em
}
.g-main-panel-ico7 .title-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_index_main_7.png?__sprite) no-repeat left center */
}
.renqiang-aside-panel {
    background-color:transparent
}
.adv-panel {
    width:1160px;
    margin:20px auto 0
}
.adv-panel:before, .adv-panel:after {
    content:" ";
    display:table
}
.adv-panel:after {
    clear:both
}
.adv-panel object {
    display:block
}
.adv-panel>section {
    position:relative;
    text-align:center;
    overflow:hidden
}
.adv-panel>section a {
    display:block
}
.adv-panel>section img {
    max-width:100%
}
.adv-panel .adv-text {
    position:absolute;
    bottom:0;
    left:0;
    width:30px;
    height:18px;
    font-size:12px;
    line-height:18px;
    text-align:center;
    color:#fff;
    background-color:rgba(0, 0, 0, .6);
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    cursor:pointer
}
.adv-panel .adv-text img {
    display:block;
    margin:0 auto
}
.adv-panel .adv-close {
    position:absolute;
    top:0;
    right:0;
    width:18px;
    height:18px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_ad_close.png) no-repeat left top; */
    cursor:pointer
}
.adv-panel .bar-adv {
    width:100%
}
.adv-panel .long-adv {
    width:820px
}
.adv-panel .short-adv {
    width:300px
}
.adv-panel.max-screen-adv {
    margin-top:0
}
.adv-panel.bottom-adv {
    position:fixed;
    bottom:0;
    left:50%;
    z-index:800;
    width:1160px;
    height:90px;
    margin-left:-580px
}
.adv-panel.bottom-adv img, .adv-panel.bottom-adv object {
    display:block;
    height:100%
}
.adv-side-panel {
    position:relative;
    z-index:800;
    width:30px;
    height:308px;
    -webkit-transition:width .7s;
    -moz-transition:width .7s;
    -ms-transition:width .7s;
    -o-transition:width .7s;
    transition:width .7s
}
.adv-side-panel>section {
    width:100%;
    height:100%
}
.adv-side-panel .adv-text {
    position:absolute;
    bottom:0;
    left:0;
    width:30px;
    height:18px;
    font-size:12px;
    line-height:18px;
    text-align:center;
    color:#fff;
    background-color:rgba(0, 0, 0, .6);
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    cursor:pointer
}
.adv-side-panel .adv-text img {
    display:block;
    margin:3px auto 0
}
.adv-side-panel .adv-close {
    position:absolute;
    top:0;
    right:0;
    width:18px;
    height:18px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_ad_close.png) no-repeat left top; */
    cursor:pointer
}
.adv-side-panel.side-max-screen {
    position:absolute;
    top:150px;
    left:0;
    width:30px;
    height:70px
}
.adv-side-panel.side-duilian-left, .adv-side-panel.side-duilian-right {
    position:absolute;
    top:356px;
    width:200px;
    height:308px;
    overflow:hidden
}
.adv-side-panel.side-duilian-left .adv-text img, .adv-side-panel.side-duilian-right .adv-text img {
    display:block;
    width:auto;
    height:auto
}
.adv-side-panel.side-duilian-left img, .adv-side-panel.side-duilian-right img {
    display:block;
    width:100%;
    height:100%
}
.adv-side-panel.side-duilian-left>section:nth-of-type(1), .adv-side-panel.side-duilian-right>section:nth-of-type(1) {
    display:none
}
.adv-side-panel.side-duilian-left>section:nth-of-type(2), .adv-side-panel.side-duilian-right>section:nth-of-type(2) {
    display:block
}
.adv-side-panel.side-duilian-left.duilian-big>section:nth-of-type(1), .adv-side-panel.side-duilian-right.duilian-big>section:nth-of-type(1) {
    display:block
}
.adv-side-panel.side-duilian-left.duilian-big>section:nth-of-type(2), .adv-side-panel.side-duilian-right.duilian-big>section:nth-of-type(2) {
    display:none
}
.adv-side-panel.side-duilian {
    width:90px
}
.adv-side-panel.side-duilian-left {
    left:0
}
.adv-side-panel.side-duilian-right {
    right:0
}
.adv-side-panel.side-bottom-adv {
    position:fixed;
    bottom:0;
    left:0;
    z-index:799;
    width:30px;
    height:90px
}
.adv-side-panel.side-bottom-adv img, .adv-side-panel.side-bottom-adv object {
    display:block;
    height:100%
}
.g-top-bar-panel {
    position:relative;
    width:1160px;
    margin:0 auto;
    height:40px;
    overflow:hidden
}
.g-top-bar-panel.fixed-menu .g-top-bar-guide {
    display:none
}
.g-top-bar-panel.fixed-menu .g-top-bar-nav {
    display:block
}
.g-top-bar-panel .g-top-bar-line {
    width:1px;
    height:12px;
    margin-top:14px;
    overflow:hidden;
    line-height:12px;
    /* background:url(../images/ico_topbar_line.png) no-repeat left top */
}
.g-top-bar-panel>ul {
    position:absolute;
    top:0;
    height:40px;
    overflow:hidden
}
.g-top-bar-panel>ul:before, .g-top-bar-panel>ul:after {
    content:" ";
    display:table
}
.g-top-bar-panel>ul:after {
    clear:both
}
.g-top-bar-panel>ul li {
    position:relative;
    float:left;
    height:40px;
    font-size:12px;
    line-height:40px
}
.g-top-bar-panel .dropdown {
    position:relative;
    top:0;
    width:30px;
    height:30px;
    padding-top:40px;
    background-color:red
}
.g-top-bar-guide {
    left:0
}
.g-top-bar-guide li a {
    display:block;
    width:100%;
    height:100%;
    color:#ddd
}
.g-top-bar-guide li a:hover {
    color:#fff
}
.g-top-bar-guide li.weibo {
    margin-right:20px;
    padding-left:17px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_weibo.png?__sprite) no-repeat left 15px */
}
.g-top-bar-guide li.weibo:hover {
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_weibo_hover.png?__sprite) no-repeat left 15px */
}
.g-top-bar-guide li.app {
    margin-left:20px;
    padding-left:17px;
    padding-right:17px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_app.png?__sprite) no-repeat left 14px */
}
.g-top-bar-guide li.app:hover {
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_app_hover.png?__sprite) no-repeat left 14px */
}
.g-top-bar-guide li.app .remind {
    position:absolute;
    top:11px;
    left:66px;
    width:6px;
    height:6px;
    overflow:hidden;
    line-height:6px;
    background-color:#ff3b30;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.g-top-bar-nav {
    display:none;
    left:0
}
.g-top-bar-nav li {
    padding:0 19px;
    /* background:url(../images/ico_topbar_line.png) no-repeat left 15px */
}
.g-top-bar-nav li a {
    color:#ddd
}
.g-top-bar-nav li a:hover {
    color:#fff
}
.g-top-bar-nav li.first {
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_index.png?__sprite) no-repeat left 14px */
}
.g-top-bar-nav li.first:hover {
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_index_hover.png?__sprite) no-repeat left 14px */
}
.g-top-bar-nav li.first:hover a {
    color:#fff
}
.g-top-bar-login {
    right:0
}
.g-top-bar-login li {
    width:60px;
    text-align:center
}
.g-top-bar-login li a {
    color:#ddd
}
.g-top-bar-login li a:hover {
    color:#fff
}
.g-top-bar-user {
    right:0
}
.g-top-bar-user a {
    color:#ddd
}
.g-top-bar-user a:hover {
    color:#fff
}
.g-top-bar-user .remind {
    position:absolute;
    top:11px;
    left:45px;
    width:6px;
    height:6px;
    overflow:hidden;
    line-height:6px;
    background-color:#ff3b30;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.g-top-bar-user .user {
    padding-right:10px
}
.g-top-bar-user .user a {
    display:block;
    float:left
}
.g-top-bar-user .user .user-head {
    width:28px;
    height:28px;
    margin-top:6px;
    margin-right:9px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.g-top-bar-user .user .user-head img {
    display:block;
    width:100%;
    height:100%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.g-top-bar-user .user .user-name {
    width:4em;
    height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.g-top-bar-user .message, .g-top-bar-user .setting {
    width:84px;
    text-indent:20px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_dropdown.png?__sprite) no-repeat 55px 19px */
}
.g-top-bar-user .message.hover, .g-top-bar-user .setting.hover {
    /* background:#333 url(http://imgs.ebrun.com/master/images/ico_topbar_dropup.png?__sprite) no-repeat 55px 19px */
}
.g-drop-down {
    position:fixed;
    top:40px;
    left:0;
    z-index:999;
    width:100%
}
.g-drop-down:before, .g-drop-down:after {
    content:" ";
    display:table
}
.g-drop-down:after {
    clear:both
}
.g-drop-down .g-drop-down-panel {
    position:relative;
    width:1160px;
    margin:0 auto
}
.g-drop-down .dropdown {
    position:absolute;
    top:0;
    width:84px
}
.g-drop-down .dropdown .dropdown-well {
    padding:10px 0
}
.g-drop-down .dropdown .triangle {
    position:relative;
    top:-10px;
    left:33px;
    width:0;
    height:0;
    border-width:0 10px 10px;
    border-style:solid;
    margin:0 auto
}
.g-drop-down .dropdown .dropdown-ewm {
    display:block;
    width:70px;
    height:70px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden
}
.g-drop-down .dropdown .dropdown-ewm img {
    display:block;
    width:70px;
    height:70px
}
.g-drop-down .dropdown .dropdown-text {
    height:20px;
    margin-top:6px;
    font-size:12px;
    line-height:20px;
    text-indent:28px;
    color:#fff
}
.g-drop-down .dropdown .dropdown-text.wechat-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_dropdown_wechat.png?__sprite) no-repeat 7px center */
}
.g-drop-down .dropdown .dropdown-text.weibo-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_dropdown_weibo.png?__sprite) no-repeat 7px center */
}
.g-drop-down .dropdown .dropdown-text.app-text {
    /* background:url(http://imgs.ebrun.com/master/images/ico_dropdown_app.png?__sprite) no-repeat 7px center */
}
.g-drop-down .dropdown .dropdown-line {
    display:block;
    width:70px;
    height:1px;
    margin-top:8px;
    overflow:hidden;
    line-height:1px;
    background-color:#666;
    border:0 none
}
.g-drop-down .dropdown .weibo-btn {
    display:block;
    width:70px;
    height:28px;
    margin:13px auto 0;
    font-size:14px;
    line-height:28px;
    text-align:center;
    color:#fff;
    background-color:#ff3b30;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px
}
.g-drop-down .dropdown.weibo {
    left:-10px
}
.g-drop-down .dropdown.weibo .dropdown-well {
    background-color:#333
}
.g-drop-down .dropdown.weibo .triangle {
    border-color:transparent transparent #333
}
.g-drop-down .dropdown.app {
    left:94px
}
.g-drop-down .dropdown.app .dropdown-well {
    background-color:#1a79ff
}
.g-drop-down .dropdown.app .triangle {
    border-color:transparent transparent #1a79ff
}
.g-drop-down .dropdown.message {
    right:85px
}
.g-drop-down .dropdown.setting {
    right:0
}
.g-drop-down .dropdown.message, .g-drop-down .dropdown.setting {
    position:absolute;
    top:0;
    width:84px;
    padding-bottom:10px;
    background-color:#333
}
.g-drop-down .dropdown.message p, .g-drop-down .dropdown.setting p {
    height:26px;
    margin-top:4px;
    overflow:hidden;
    font-size:12px;
    line-height:26px;
    text-indent:18px
}
.g-drop-down .dropdown.message p a, .g-drop-down .dropdown.setting p a {
    display:block;
    color:#ddd;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s
}
.g-drop-down .dropdown.message p a:hover, .g-drop-down .dropdown.setting p a:hover {
    color:#fff;
    background-color:#ff9500;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s
}
.g-header-well {
    width:1160px;
    margin-left:auto;
    margin-right:auto
}
.g-header-well:before, .g-header-well:after {
    content:" ";
    display:table
}
.g-header-well:after {
    clear:both
}
.g-header-well .header-title .title-text {
    display:none!important
}
.g-header-well .header-title .logo {
    display:block
}
.g-header-well .header-search {
    width:300px;
    height:34px;
    background-color:#f3f3f3;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px
}
.g-header-well .header-search .search-control {
    display:block;
    float:left;
    width:235px;
    height:28px;
    margin-left:20px;
    margin-top:3px;
    overflow:hidden;
    font-size:14px;
    line-height:28px;
    color:#999;
    background:0 0;
    border:0 none
}
.g-header-well .header-search .search-control:focus {
    outline:0
}
.g-header-well .header-search .header-search-submit {
    display:block;
    float:left;
    width:20px;
    height:20px;
    margin-top:7px;
    margin-left:8px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_search.png?__sprite) no-repeat left top; */
    border:0 none;
    cursor:pointer
}
.g-header-nav {
    position:relative;
    z-index:2;
    margin-top:30px;
    border-top:1px solid #e3e3e3;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-shadow:0 7px 15px #f1f1f1;
    -moz-box-shadow:0 7px 15px #f1f1f1;
    box-shadow:0 7px 15px #f1f1f1
}
.g-header-nav .sub-menu {
    display:none
}
.g-header-nav.show-sub-menu {
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border-bottom-color:#f7f7f7
}
.g-header-nav.show-sub-menu .sub-menu {
    display:block
}
.g-header-nav.show-sub-menu .menu li.more {
    /* background:url(http://imgs.ebrun.com/master/images/ico_menu_active.png?__sprite) no-repeat center bottom */
}
.g-header-nav.show-sub-menu .menu li.more a {
    color:#1a79ff;
    /* background:url(http://imgs.ebrun.com/master/images/ico_menu_dropup.png?__sprite) no-repeat 85px 28px */
}
.g-header-nav .menu {
    position:relative;
    z-index:3;
    width:1160px;
    margin-left:auto;
    margin-right:auto
}
.g-header-nav .menu:before, .g-header-nav .menu:after {
    content:" ";
    display:table
}
.g-header-nav .menu:after {
    clear:both
}
.g-header-nav .menu li {
    position:relative;
    top:1px;
    float:left;
    margin-right:48px;
    font-size:18px;
    font-weight:700;
    line-height:60px
}
.g-header-nav .menu li.more-prev {
    margin-right:10px
}
.g-header-nav .menu li.more {
    margin:0;
    width:120px;
    text-align:center
}
.g-header-nav .menu li.more a {
    display:block;
    /* background:url(http://imgs.ebrun.com/master/images/ico_menu_dropdown.png?__sprite) no-repeat 85px 28px */
}
.g-header-nav .menu li.more.hover {
    color:#1a79ff
}
.g-header-nav .menu li a {
    color:#1c1c1c
}
.g-header-nav .menu li a:hover {
    font-weight:700;
    color:#1a79ff
}
.g-header-nav .sub-menu {
    position:absolute;
    top:61px;
    left:0;
    z-index:2;
    width:100%;
    -webkit-box-shadow:0 7px 15px #f1f1f1;
    -moz-box-shadow:0 7px 15px #f1f1f1;
    box-shadow:0 7px 15px #f1f1f1;
    background-color:rgba(255, 255, 255, .95)
}
.g-header-nav .sub-menu:before, .g-header-nav .sub-menu:after {
    content:" ";
    display:table
}
.g-header-nav .sub-menu:after {
    clear:both
}
.g-header-nav .sub-menu .sub-menu-list {
    width:1160px;
    margin:0 auto;
    padding-right:18px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-size:0;
    text-align:right
}
.g-header-nav .sub-menu .sub-menu-list li {
    display:inline;
    padding:0 25px;
    font-size:16px;
    line-height:58px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_nav_line.png?__sprite) no-repeat left center */
}
.g-header-nav .sub-menu .sub-menu-list li.first {
    background:0 0
}
.g-header-nav .sub-menu .sub-menu-list li a {
    color:#666
}
.g-header-nav .sub-menu .sub-menu-list li a:hover {
    color:#1a79ff
}
.renqiang-2018shaungshiyi {
    width:1160px;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    background-color:#fafafa
}
.renqiang-2018shaungshiyi .index-shuangshiyi-center {
    padding:36px 40px
}
.renqiang-2018shaungshiyi .index-shuangshiyi-center:before, .renqiang-2018shaungshiyi .index-shuangshiyi-center:after {
    content:" ";
    display:table
}
.renqiang-2018shaungshiyi .index-shuangshiyi-center:after {
    clear:both
}
.renqiang-2018shaungshiyi .shuangshiyi-left-logo {
    float:left;
    margin-right:50px
}
.renqiang-2018shaungshiyi .shuangshiyi-left-logo .shuangshiyi-click {
    display:block;
    width:195px;
    height:84px
}
.renqiang-2018shaungshiyi .shuangshiyi-left-logo .shuangshiyi-click img {
    width:100%;
    height:100%
}
.renqiang-2018shaungshiyi .shuangshiyi-left-logo .shuangshiyi-index-logo {
    display:block;
    width:150px;
    height:30px;
    margin:10px auto 0
}
.renqiang-2018shaungshiyi .shuangshiyi-left-logo .shuangshiyi-index-logo img {
    width:100%;
    height:100%
}
.renqiang-2018shaungshiyi .shuangshiyi-item {
    float:left
}
.renqiang-2018shaungshiyi .shuangshiyi-item div {
    float:left;
    width:200px;
    margin-right:10px
}
.renqiang-2018shaungshiyi .shuangshiyi-item div img {
    display:block;
    width:100%;
    height:100px
}
.renqiang-2018shaungshiyi .shuangshiyi-item div .shuangshiyi-item-text {
    display:block;
    width:100%;
    height:16px;
    margin-top:10px;
    font-size:16px;
    line-height:16px;
    color:#fff;
    overflow:hidden
}
.renqiang-2018shaungshiyi .shuangshiyi-item div .shuangshiyi-item-text:hover {
    color:#fff
}
.renqiang-2018shaungshiyi .shaungshiyi-erweima {
    float:right;
    width:160px;
    text-align:center
}
.renqiang-2018shaungshiyi .shaungshiyi-erweima img {
    display:inline-block;
    width:100px;
    height:100px
}
.renqiang-2018shaungshiyi .shaungshiyi-erweima p {
    margin-top:10px;
    font-size:16px;
    line-height:16px;
    color:#fff
}
.fengtao .focus-container {
    width:360px;
    height:180px;
    margin-bottom:12px
}
.fengtao .focus-wrapper {
    height:180px
}
.fengtao .focus-slide {
    width:360px;
    height:180px
}
.fengtao .focus-slide.current .focus-tips {
    display:block
}
.fengtao .focus-slide a, .fengtao .focus-slide img {
    display:block;
    width:100%;
    height:100%
}
.fengtao .focus-slide img {
    -webkit-transform:scale(1, 1);
    -moz-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    -o-transform:scale(1, 1);
    transform:scale(1, 1);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.fengtao .focus-slide img:hover {
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    transform:scale(1.2, 1.2);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.fengtao .focus-slide .focus-tips {
    display:none;
    position:absolute;
    left:0;
    bottom:28px;
    z-index:2;
    font-size:18px;
    padding:0 15px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:360px;
    height:22px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#fff
}
.fengtao .focus-slide .focus-shadow {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    width:360px;
    height:75px;
    /* background:url(http://imgs.ebrun.com/master/images/bg_index_focus_shadow.png) no-repeat left top */
}
.fengtao .focus-next, .fengtao .focus-prev {
    width:35px;
    height:60px
}
.fengtao .focus-prev {
    /* background:url(http://imgs.ebrun.com/master/images/bg_index_focus_prev.png) no-repeat left top
} */
.fengtao .focus-next {
    /* background:url(http://imgs.ebrun.com/master/images/bg_index_focus_next.png) no-repeat left top */
}
.fengtao .focus-pagination {
    bottom:12px;
    z-index:2;
    height:6px;
    overflow:hidden;
    line-height:6px
}
.fengtao .focus-pagination a {
    width:6px;
    height:6px;
    margin:0 4px;
    overflow:hidden;
    line-height:6px;
    background-color:#ddd;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.fengtao .focus-pagination a.focus-pagination-active {
    background-color:#ff9500
}
.fengtao .main-list-wrap li {
    width:100%;
    margin-top:17px;
    height:22px;
    line-height:22px
}
.fengtao .main-list-wrap li.bold {
    margin-top:-6px;
    height:36px;
    font-size:24px;
    font-weight:700;
    line-height:36px
}
.fengtao .main-list-wrap li.bold a {
    color:#1c1c1c
}
.fengtao .main-list-wrap li.bold a:hover {
    color:#1a79ff
}
.fengtao .main-list-wrap li.last {
    margin-bottom:38px
}
.side1-panel {
    margin-top:12px;
    border:1px solid #e5e5e5
}
.side1-title {
    position:relative;
    margin-top:-12px;
    text-align:center;
    line-height:22px
}
.side1-title span {
    display:inline-block;
    padding-left:20px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_asidel1_yuan.png?__sprite) left center no-repeat #fff; */
    font-size:22px;
    font-weight:700;
    line-height:22px;
    color:#000
}
.side1-title em {
    padding-right:20px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_asidel1_yuan.png?__sprite) right center no-repeat #fff; */
    font-style:normal;
    color:#ff9500
}
.side1-title a {
    position:absolute;
    right:0;
    top:0;
    margin:2px 12px 0 0;
    padding:0 6px;
    border:1px solid #e5e5e5;
    background-color:#fff;
    font-size:12px;
    line-height:18px;
    color:#999;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px
}
.side1-list {
    padding:26px 20px 31px
}
.side1-list li {
    font-size:0
}
.side1-list li:before, .side1-list li:after {
    content:" ";
    display:table
}
.side1-list li:after {
    clear:both
}
.side1-list li a {
    display:inline-block;
    font-size:16px;
    line-height:38px;
    color:#333;
    width:196px;
    height:38px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.side1-list li a:hover {
    color:#1a79ff
}
.side1-list li span {
    float:right;
    text-align:right;
    font-size:12px;
    line-height:38px;
    color:#999
}
.fengtao.other-main {
    height:422px;
    overflow:hidden
}
.fengtao.other-main .g-main-pic-font .main-list-wrap {
    margin-top:13px
}
.fengtao.other-main .main-list-wrap li {
    position:relative;
    height:22px;
    margin-top:15px;
    line-height:22px;
    text-indent:12px
}
.fengtao.other-main .main-list-wrap li:before {
    content:'';
    position:absolute;
    top:50%;
    left:0;
    width:4px;
    height:4px;
    margin-top:-2px;
    background-color:#ccc;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.fengtao.other-main .main-list-wrap li.bold {
    height:26px;
    margin-top:-4px;
    line-height:26px;
    font-size:18px
}
.fengtao.other-main .main-list-wrap li.bold a {
    color:#1c1c1c
}
.fengtao.other-main .main-list-wrap li.last {
    margin-bottom:28px;
    width:100%;
    height:22px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.fengtao.other-main .main-list-wrap li a {
    color:#333
}
.fengtao.other-main .main-list-wrap li a:hover {
    color:#1a79ff
}
.side2-panel {
    width:260px;
    margin:0 auto
}
.side2-panel .side2-ebrun-num {
    border-bottom:1px solid #eee;
    padding-bottom:20px;
    margin-bottom:20px
}
.side2-panel .side2-ebrun-num dl {
    margin-bottom:8px
}
.side2-panel .side2-ebrun-num dl:before, .side2-panel .side2-ebrun-num dl:after {
    content:" ";
    display:table
}
.side2-panel .side2-ebrun-num dl:after {
    clear:both
}
.side2-panel .side2-ebrun-num dl dt {
    float:left;
    width:36px;
    height:36px
}
.side2-panel .side2-ebrun-num dl dt img {
    width:100%;
    height:100%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
.side2-panel .side2-ebrun-num dl dd {
    float:left;
    width:212px;
    margin-left:11px
}
.side2-panel .side2-ebrun-num dl dd p {
    display:block;
    float:left;
    max-width:7em;
    height:36px;
    padding-right:19px;
    overflow:hidden;
    font-size:16px;
    line-height:36px;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap
}
.side2-panel .side2-ebrun-num dl dd p.side2-ico-v1 {
    /* background:url(http://imgs.ebrun.com/master/images/ico_side2_v1.png?__sprite) right center no-repeat */
}
.side2-panel .side2-ebrun-num dl dd p.side2-ico-v2 {
    /* background:url(http://imgs.ebrun.com/master/images/ico_side2_v2.png?__sprite) right center no-repeat */
}
.side2-panel .side2-ebrun-num dl dd p a {
    font-size:16px
}
.side2-panel .side2-ebrun-num dl dd a {
    color:#333
}
.side2-panel .side2-ebrun-num dl dd a:hover {
    color:#1a79ff
}
.side2-panel .side2-ebrun-num dl dd .ico-side-more {
    float:right;
    width:56px;
    height:24px;
    margin-top:3px;
    padding:0;
    border:1px solid #bfbfbf;
    text-align:center;
    font-size:14px;
    line-height:24px;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    color:#595959
}
.side2-panel .side2-ebrun-num dl dd .ico-side-more:hover {
    color:#1a79ff;
    border-color:#1a79ff
}
.side2-panel .side2-ebrun-num p {
    display:block;
    height:44px;
    overflow:hidden
}
.side2-panel .side2-ebrun-num p a {
    width:260px;
    font-size:14px;
    line-height:22px;
    color:#595959
}
.side2-panel .side2-ebrun-num p a:hover {
    color:#1a79ff
}
.side2-panel .side-more-data-item.border-none {
    margin-bottom:0
}
.side2-panel .border-none {
    border:0
}
.side3-panel {
    width:260px;
    margin:0 auto
}
#renqiang-side3 .focus-container {
    width:260px;
    height:258px;
    overflow:hidden
}
#renqiang-side3 .focus-container .focus-wraper {
    height:238px
}
#renqiang-side3 .focus-container .focus-wraper:before, #renqiang-side3 .focus-container .focus-wraper:after {
    content:" ";
    display:table
}
#renqiang-side3 .focus-container .focus-wraper:after {
    clear:both
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide {
    float:left;
    width:260px
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide a, #renqiang-side3 .focus-container .focus-wraper .focus-slide img {
    display:block;
    width:100%;
    height:100%
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide img {
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide .focus-item-content {
    margin-bottom:20px
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide .focus-item-content.border {
    padding-bottom:20px;
    border-bottom:1px solid #eee
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl {
    margin-bottom:8px
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl:before, #renqiang-side3 .focus-container .focus-wraper .focus-slide dl:after {
    content:" ";
    display:table
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl:after {
    clear:both
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dt {
    float:left;
    width:36px;
    height:36px
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dd {
    float:left;
    margin-left:11px;
    padding-right:22px;
    /* background:url(http://imgs.ebrun.com/master/images/ico_side_v3.png?__sprite) right center no-repeat; */
    font-size:16px;
    line-height:36px;
    color:#333
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dd a {
    max-width:7em;
    height:36px;
    line-height:36px;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#333
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide dl dd a:hover {
    color:#1a79ff
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide p {
    display:block;
    width:100%;
    height:44px;
    overflow:hidden;
    font-size:14px;
    line-height:22px;
    color:#595959
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide p a {
    display:inline;
    color:#333
}
#renqiang-side3 .focus-container .focus-wraper .focus-slide p a:hover {
    color:#1a79ff
}
#renqiang-side3 .focus-container .focus-pagination {
    text-align:center
}
#renqiang-side3 .focus-container .focus-pagination a {
    display:inline-block;
    width:6px;
    height:6px;
    margin:0 4px;
    background-color:#ddd;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}
#renqiang-side3 .focus-container .focus-pagination a.focus-pagination-active {
    background-color:#ff9500
}
#renqiang-side3 .side3-list li {
    width:260px;
    height:38px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
#renqiang-side3 .side3-list a {
    font-size:16px;
    line-height:38px;
    color:#333
}
#renqiang-side3 .side3-list a:hover {
    color:#1a79ff
}
.side4-panel dl, .side4-panel dt {
    overflow:hidden;
    height:80px
}
.side4-panel dl {
    width:260px;
    padding:0 0 20px;
    margin:0 20px 20px;
    border-bottom:1px solid #eee
}
.side4-panel dl.border-none {
    border:0 none
}
.side-more-data-item.border-none {
    border:0 none;
    margin-bottom:0
}
.side4-panel dt {
    float:left;
    width:120px
}
.side4-panel dt img {
    width:100%;
    height:100%;
    -webkit-transform:scale(1, 1);
    -moz-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    -o-transform:scale(1, 1);
    transform:scale(1, 1);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.side4-panel dt img:hover {
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    transform:scale(1.2, 1.2);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.side4-panel dd {
    overflow:hidden;
    float:right;
    width:128px;
    height:40px;
    padding-left:12px;
    line-height:20px
}
.side4-panel dd a {
    font-size:16px;
    line-height:20px;
    color:#333
}
.side4-panel dd a:hover {
    color:#1a79ff
}
.side4-panel .aside4-dl-dress {
    padding-top:12px
}
.side4-panel .aside4-dl-dress span {
    display:block;
    margin-top:5px;
    float:left;
    width:60px;
    font-size:14px;
    color:#999
}
.side4-panel .aside4-dl-dress a {
    display:block;
    float:right;
    width:58px;
    height:24px;
    border:1px solid #bfbfbf;
    border-radius:14px;
    font-size:14px;
    line-height:26px;
    color:#595959;
    text-align:center
}
.side4-panel .aside4-dl-dress a:hover {
    color:#1a79ff
}
.side4-panel .aside4-dl-dress a:hover {
    color:#1a79ff;
    border-color:#1a79ff
}
.side4-panel dl:last-child {
    border:0
}
.side5-panel dl, .side5-panel dl dt, .side5-panel dl dd {
    overflow:hidden
}
.side5-panel dl {
    width:260px;
    margin:0 20px
}
.side5-panel dl dt {
    overflow:hidden;
    width:38px;
    height:38px;
    margin:0 auto;
    border-radius:50%
}
.side5-panel dl dt img {
    width:100%;
    height:100%
}
.side5-panel-title {
    padding-top:5px;
    width:8em;
    height:22px;
    margin:0 auto;
    overflow:hidden;
    font-size:16px;
    line-height:22px;
    text-align:center;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#333
}
.side5-panel-cone {
    width:260px;
    height:32px;
    margin:0 auto;
    overflow:hidden;
    font-size:12px;
    line-height:32px;
    text-align:center;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#999;
    border-bottom:1px solid #eee
}
.side5-panel-cone1 {
    margin-top:12px;
    height:44px;
    overflow:hidden;
    font-size:16px;
    line-height:22px;
    color:#595959;
    text-align:center
}
.side5-panel-code {
    overflow:hidden;
    height:120px;
    width:100%;
    padding-top:15px;
    text-align:center
}
.side5-panel-code img {
    width:120px;
    height:120px
}
.side5-panel-cone2 {
    width:100%;
    height:22px;
    margin-top:15px;
    overflow:hidden;
    font-size:16px;
    font-weight:700;
    line-height:22px;
    text-align:center;
    color:#1c1c1c;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    white-space:nowrap
}
.fengtao.other-main .siilu-img {
    position:relative;
    width:360px;
    height:180px;
    overflow:hidden
}
.fengtao.other-main .siilu-img a, .fengtao.other-main .siilu-img img {
    display:block;
    width:100%;
    height:100%
}
.fengtao.other-main .siilu-img img {
    -webkit-transform:scale(1, 1);
    -moz-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    -o-transform:scale(1, 1);
    transform:scale(1, 1);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.fengtao.other-main .siilu-img img:hover {
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    transform:scale(1.2, 1.2);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.fengtao.other-main .siilu-img .siilu-tips {
    position:absolute;
    left:0;
    bottom:15px;
    z-index:2;
    font-size:18px;
    padding:0 15px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:360px;
    height:22px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#fff
}
.fengtao.other-main .siilu-img .siilu-shadow {
    position:absolute;
    bottom:0;
    left:0;
    z-index:1;
    width:360px;
    height:75px;
    /* background:url(http://imgs.ebrun.com/master/images/bg_index_focus_shadow.png) no-repeat left top */
}
.fengtao.other-main .g-main-pic-font .siilu-main-list-wrap {
    margin-top:19px
}
.side6-panel img {
    -webkit-transform:scale(1, 1);
    -moz-transform:scale(1, 1);
    -ms-transform:scale(1, 1);
    -o-transform:scale(1, 1);
    transform:scale(1, 1);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.side6-panel img:hover {
    -webkit-transform:scale(1.2, 1.2);
    -moz-transform:scale(1.2, 1.2);
    -ms-transform:scale(1.2, 1.2);
    -o-transform:scale(1.2, 1.2);
    transform:scale(1.2, 1.2);
    -webkit-transition:all, .7s;
    -moz-transition:all, .7s;
    -ms-transition:all, .7s;
    -o-transition:all, .7s;
    transition:all, .7s
}
.side6-panel dl {
    width:260px;
    margin:0 20px
}
.side6-panel dl dt {
    display:block;
    float:left;
    overflow:hidden;
    width:120px;
    height:80px;
    margin-bottom:16px
}
.side6-panel dl dt img {
    width:100%;
    height:100%
}
.side6-panel dl dd {
    display:block;
    overflow:hidden;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
    clear:both;
    padding-top:14px;
    height:22px;
    white-space:nowrap
}
.side6-panel dl .side6-panel-list {
    display:block;
    clear:none;
    float:right;
    width:130px;
    height:44px;
    padding:0
}
.side6-panel dl a {
    font-size:16px;
    line-height:22px;
    color:#333
}
.side6-panel dl a:hover {
    color:#1a79ff
}
.side6-panel dl .side6-panel-list a {
    white-space:normal
}
.xuqiu-item {
    width:260px;
    margin:0 auto 18px;
    padding-bottom:20px;
    border-bottom:1px solid #eee
}
.xuqiu-item.last-dl-borNone {
    border:0
}
.xuqiu-item dt {
    width:100%;
    height:16px;
    line-height:16px;
    margin-bottom:14px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.xuqiu-item dt a {
    font-size:16px;
    line-height:16px;
    color:#333
}
.xuqiu-item dt a:hover {
    color:#1a79ff
}
.xuqiu-item dd:before, .xuqiu-item dd:after {
    content:" ";
    display:table
}
.xuqiu-item dd:after {
    clear:both
}
.xuqiu-item dd span {
    float:left;
    width:70px;
    height:24px;
    margin-right:12px;
    border-radius:12px;
    text-align:center;
    font-size:14px;
    line-height:24px;
    color:#fff
}
.xuqiu-item dd span.yi {
    background-color:#ff9500
}
.xuqiu-item dd span.zhao {
    background-color:#1a79ff
}
.xuqiu-item dd span.dui {
    background-color:#eee;
    color:#595959
}
.xuqiu-item dd p {
    float:left;
    font-size:14px;
    line-height:24px;
    color:#999
}
.xuqiu-item dd p em {
    display:inline-block;
    margin-left:8px;
    font-style:normal
}
.xuqiu-item dd .shu {
    float:left;
    height:14px;
    margin:6px 10px 0;
    border-left:1px solid #eee
}
.system-panel:before, .system-panel:after {
    content:" ";
    display:table
}
.system-panel:after {
    clear:both
}
.system-panel .system-flow, .system-panel .system-link, .system-panel .system-logo {
    min-height:212px
}
.system-panel.seo-system-panel .system-flow, .system-panel.seo-system-panel .system-link, .system-panel.seo-system-panel .system-logo {
    min-height:130px
}
.system-panel .system-logo {
    width:214px;
    border-right:1px solid #eee
}
.system-panel .system-logo img {
    display:block
}
.system-panel .system-link ul {
    width:197px;
    height:212px;
    border-right:1px solid #eee
}
.system-panel .system-link ul li {
    margin-top:22px;
    font-size:14px;
    line-height:100%;
    text-indent:40px
}
.system-panel .system-link ul li.bold {
    margin-top:0;
    padding-bottom:10px;
    font-weight:700
}
.system-panel .system-link ul li a {
    color:#595959
}
.system-panel .system-link ul li a:hover {
    color:#1a79ff
}
.system-panel .system-link.system-inline {
    width:605px
}
.system-panel .system-link.system-inline:before, .system-panel .system-link.system-inline:after {
    content:" ";
    display:table
}
.system-panel .system-link.system-inline:after {
    clear:both
}
.system-panel .system-link.system-inline dl {
    margin-bottom:20px
}
.system-panel .system-link.system-inline dl:before, .system-panel .system-link.system-inline dl:after {
    content:" ";
    display:table
}
.system-panel .system-link.system-inline dl:after {
    clear:both
}
.system-panel .system-link.system-inline dt, .system-panel .system-link.system-inline dd {
    float:left;
    font-size:14px
}
.system-panel .system-link.system-inline dt {
    margin-right:24px;
    padding-left:40px;
    font-weight:700;
    color:#1c1c1c
}
.system-panel .system-link.system-inline dd p {
    width:485px;
    font-size:0;
    text-align:left
}
.system-panel .system-link.system-inline dd a {
    display:inline-block;
    margin:0 16px 6px;
    font-size:14px;
    color:#595959;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s
}
.system-panel .system-link.system-inline dd a:hover {
    color:#1a79ff;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
    transition:all .2s
}
.system-panel .system-flow {
    width:325px;
    margin-left:25px
}
.system-panel .system-flow.seo-system-flow {
    width:300px!important;
    margin-left:20px
}
.system-panel .system-flow.seo-system-flow .system-ewm div {
    margin:0 20px
}
.system-panel .system-flow .system-ewm:before, .system-panel .system-flow .system-ewm:after {
    content:" ";
    display:table
}
.system-panel .system-flow .system-ewm:after {
    clear:both
}
.system-panel .system-flow .system-ewm div {
    width:108px;
    margin-left:45px
}
.system-panel .system-flow .system-ewm div p {
    padding:11px 0;
    font-size:14px;
    line-height:100%;
    text-align:center;
    color:#999
}
.system-panel .system-flow .system-weibo {
    margin-top:29px;
    font-size:14px;
    text-align:center
}
.system-panel .system-flow .system-weibo a {
    display:inline-block;
    height:38px;
    padding-left:48px;
    line-height:38px;
    color:#999;
    /* background:url(http://imgs.ebrun.com/master/images/ico_system_weibo.png) no-repeat left top */
}
.system-panel .system-flow .system-weibo a:hover {
    color:#333;
    /* background:url(http://imgs.ebrun.com/master/images/ico_weibo_hover.png) no-repeat left top */
}
.system-tab-panel {
    width:1160px;
    margin:0 auto;
    padding-top:40px;
    border-top:1px solid #eee
}
.system-tab-panel:before, .system-tab-panel:after {
    content:" ";
    display:table
}
.system-tab-panel:after {
    clear:both
}
.system-tab-panel .tab-menu {
    float:left;
    width:96px
}
.system-tab-panel .tab-menu li {
    margin-bottom:30px;
    font-size:14px;
    font-weight:700;
    line-height:100%;
    color:#bbb;
    cursor:pointer
}
.system-tab-panel .tab-menu li.tab-menu-active {
    color:#1c1c1c
}
.system-tab-panel .tab-body {
    float:left;
    width:1060px
}
.system-tab-panel .tab-body .tab-well {
    width:100%
}
.system-tab-panel .tab-body .tab-well li {
    float:left;
    margin-right:20px;
    margin-bottom:16px;
    font-size:12px;
    line-height:100%
}
.system-tab-panel .tab-body .tab-well li a {
    color:#595959
}
.system-tab-panel .tab-body .tab-well li a:hover {
    color:#1a79ff
}