html {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body, dd, div, dl, dt, h1, h2, h3, h4, h5, h6, li, ol, p, ul {
  margin:0;
  padding:0
}
ol, ul {
  list-style:none
}
article, aside, audio, canvas, details, figcaption, figure, footer, header, main, menu, nav, progress, section, summary, video {
  display:block;
  margin:0;
  padding:0
}
a {
  text-decoration:none;
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout:none;
  -webkit-user-select:none
}
a:active, a:hover {
  outline-width:0;
  text-decoration:none
}
img {
  border-style:none;
  vertical-align:middle
}
button, input, optgroup, select, textarea {
  font:inherit;
  margin:0;
  padding:0
}
button, input {
  overflow:visible
}
button, select {
  text-transform:none
}
textarea {
  overflow:auto;
  resize:none
}
::-webkit-input-placeholder {
  color:#999
}
:-moz-placeholder {
  color:#999
}
::-moz-placeholder {
  color:#999
}
:-ms-input-placeholder {
  color:#999
}
.hide {
  display:none!important
}
.hidden {
  visibility:hidden!important
}
.f-left {
  float:left
}
.f-right {
  float:right
}
.text-left {
  text-align:left
}
.text-center {
  text-align:center
}
.text-right {
  text-align:right
}
.relative {
  position:relative
}
.absolute {
  position:absolute
}
.fixed {
  position:fixed
}
.static {
  position:static!important
}
.g-top-bar {
  position:fixed;
  top:0;
  left:0;
  z-index:999
}
.focus-container {
  position:relative;
  overflow:hidden
}
.focus-wrapper {
  position:absolute;
  top:0;
  left:0
}
.focus-wrapper:before, .focus-wrapper:after {
  content:" ";
  display:table
}
.focus-wrapper:after {
  clear:both
}
.focus-slide {
  float:left
}
.focus-next, .focus-prev {
  position:absolute;
  top:50%;
  -webkit-transform:translate(0, -50%);
  -moz-transform:translate(0, -50%);
  -ms-transform:translate(0, -50%);
  -o-transform:translate(0, -50%);
  transform:translate(0, -50%);
  cursor:pointer
}
.focus-prev {
  left:0
}
.focus-next {
  right:0
}
.focus-pagination {
  position:absolute;
  width:100%;
  overflow:hidden;
  font-size:0;
  text-align:center
}
.focus-pagination a {
  display:inline-block
}
.g-footer {
  margin-top:40px;
  padding-top:40px;
  border-top:1px solid #eee
}
.g-footer .g-ststem {
  width:1160px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:40px
}
.g-footer .g-copyright {
  width:100%;
  height:40px;
  margin-top:24px;
  background-color:#1c1c1c
}
.g-footer .copyright-panel {
  width:1160px;
  height:100%;
  margin-left:auto;
  margin-right:auto
}
.g-footer .copyright-panel:before, .g-footer .copyright-panel:after {
  content:" ";
  display:table
}
.g-footer .copyright-panel:after {
  clear:both
}
.g-footer .copyright-panel .g-copyright-text {
  font-size:12px;
  font-weight:400;
  line-height:40px;
  color:#ddd
}
.g-footer .copyright-panel .g-copyright-left {
  width:310px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_line.png?__sprite) no-repeat right 15px */
}
.g-footer .copyright-panel .g-copyright-center {
  width:670px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_line.png?__sprite) no-repeat right 15px */
}
.g-footer .copyright-panel .g-copyright-right {
  width:180px
}
.aside-panel {
  float:right;
  width:300px;
  height:100%;
  background-color:#fafafa
}
.sider-bar {
  position:fixed;
  bottom:100px;
  right:0;
  z-index:700
}
.sider-bar .app {
  width:60px
}
.sider-bar .app p {
  height:20px;
  font-size:12px;
  line-height:20px;
  text-align:center;
  color:#333
}
.sider-bar .app img {
  display:block;
  width:100%;
  height:60px
}
.sider-bar .back {
  width:60px;
  height:60px;
  margin-top:12px;
  overflow:hidden;
  background:#fafafa url(http://imgs.ebrun.com/master/images/ico_sider_back.png?__sprite) no-repeat center center;
  cursor:pointer
}
.g-sublevel-content {
  position:relative;
  width:1160px;
  margin:38px auto 0
}
.g-sublevel-content:before, .g-sublevel-content:after {
  content:" ";
  display:table
}
.g-sublevel-content:after {
  clear:both
}
.g-sublevel-content .g-sublevel-main {
  width:820px;
  overflow:hidden
}
.g-sublevel-content .g-sublevel-side {
  width:300px;
  overflow:hidden
}
.g-sublevel-content .g-sublevel-side .aside-panel {
  margin-top:20px
}
.g-sublevel-content .g-sublevel-side .side-com-title {
  width:260px;
  margin:0 auto;
  height:38px;
  padding-top:28px
}
.g-sublevel-content .g-sublevel-side .side-com-title:before, .g-sublevel-content .g-sublevel-side .side-com-title:after {
  content:" ";
  display:table
}
.g-sublevel-content .g-sublevel-side .side-com-title:after {
  clear:both
}
.g-sublevel-content .g-sublevel-side .side-com-title h3 {
  float:left;
  font-size:18px;
  font-weight:700;
  line-height:18px;
  color:#1c1c1c
}
.g-sublevel-content .g-sublevel-side .side-com-title span {
  float:left;
  margin:4px 0 0 13px;
  font-size:14px;
  line-height:14px;
  color:#bbb
}
.g-sublevel-content .g-sublevel-side .side-com-title a {
  float:right;
  width:13px;
  height:13px;
  margin-top:2px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_side2_jia.png?__sprite) center center no-repeat */
}
.g-sublevel-content .g-sublevel-side .side-com-title a.side-more-arrow {
  /* background:url(http://imgs.ebrun.com/master/images/ico_side_more2.png?__sprite) center center no-repeat */
}
.g-sublevel-content .sublevel-aside-adv {
  padding:20px 0
}
.g-sublevel-content .sublevel-aside-adv object {
  display:block
}
.g-sublevel-content .sublevel-aside-adv .adv-img {
  position:relative;
  width:260px;
  height:90px;
  margin:0 auto;
  overflow:hidden
}
.g-sublevel-content .sublevel-aside-adv .adv-img a, .g-sublevel-content .sublevel-aside-adv .adv-img img {
  display:block;
  width:100%;
  height:100%
}
.g-sublevel-content .sublevel-aside-adv .adv-img .adv-text {
  position:absolute;
  bottom:0;
  left:0;
  width:30px;
  height:18px;
  font-size:12px;
  line-height:18px;
  text-align:center;
  color:#fff;
  background-color:rgba(0, 0, 0, .6);
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  cursor:pointer
}
.g-sublevel-content .sublevel-aside-adv .adv-img .adv-text img {
  display:block;
  margin:0 auto
}
.g-sublevel-content .sublevel-aside-adv .adv-title {
  position:relative;
  width:260px;
  height:20px;
  overflow:hidden;
  margin:11px auto 0;
  padding-left:13px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-size:14px;
  color:#999
}
.g-sublevel-content .sublevel-aside-adv .adv-title:hover {
  color:#1a79ff
}
.g-sublevel-content .sublevel-aside-adv .adv-title:before {
  content:' ';
  position:absolute;
  top:8px;
  left:0;
  width:4px;
  height:4px;
  overflow:hidden;
  line-height:4px;
  background-color:#bbb;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.g-sublevel-content .post-panel {
  margin-top:40px
}
.g-sublevel-content .post-panel .post-title {
  font-size:22px;
  font-weight:700;
  line-height:100%;
  color:#1c1c1c
}
.sublevel-side-panel .side2-panel .side2-ebrun-num p {
  height:auto;
  max-height:44px
}
.sublevel-side-panel .side4-panel dd a {
  font-size:14px
}
.sublevel-side-panel .side6-panel dl {
  padding-bottom:20px
}
.sublevel-side-panel .side6-panel dl dt {
  margin-bottom:13px
}
.sublevel-side-panel .side6-panel dl dd {
  padding-top:12px
}
.sublevel-side-panel .side6-panel dl dd.side6-panel-list {
  padding:0
}
.sublevel-side-panel .side6-panel dl a {
  font-size:14px
}
.sublevel-share {
  width:100px;
  overflow:hidden
}
.sublevel-share li {
  display:block;
  width:100%;
  height:68px;
  font-size:14px;
  line-height:38px;
  border-top:1px solid #fafafa
}
.sublevel-share li:before, .sublevel-share li:after {
  content:" ";
  display:table
}
.sublevel-share li:after {
  clear:both
}
.sublevel-share li:nth-of-type(1) {
  border-top:0 none
}
.sublevel-share li a {
  display:block;
  float:left;
  height:38px;
  margin-top:15px;
  padding-left:60px;
  color:#bbb
}
.sublevel-share li a:hover {
  color:#333!important
}
.sublevel-share li.weibo a {
  /* background:url(http://imgs.ebrun.com/master/images/ico_system_weibo.png?__sprite) no-repeat left top */
}
.sublevel-share li.weibo a:hover {
  /* background:url(http://imgs.ebrun.com/master/images/ico_weibo_hover.png?__sprite) no-repeat left top */
}
.sublevel-share li.weixin a {
  /* background:url(http://imgs.ebrun.com/master/images/ico_weixin.png?__sprite) no-repeat left top */
}
.sublevel-share li.weixin a:hover {
  /* background:url(http://imgs.ebrun.com/master/images/ico_weixin_hover.png?__sprite) no-repeat left top */
}
.sublevel-share li.qzone a {
  /* background:url(http://imgs.ebrun.com/master/images/ico_qzone.png?__sprite) no-repeat left top; */
  height:36px;
  padding-top:1px;
  padding-bottom:1px;
  line-height:18px
}
.sublevel-share li.qzone a:hover {
  /* background:url(http://imgs.ebrun.com/master/images/ico_qzone_hover.png?__sprite) no-repeat left top */
}
.sublevel-share .bds_more {
  display:block!important;
  float:left!important;
  height:38px!important;
  margin:15px 0 0!important;
  padding:0 0 0 60px!important;
  font-size:14px!important;
  line-height:38px!important;
  color:#bbb!important;
  /* background:url(http://imgs.ebrun.com/master/images/ico_more.png?__sprite) no-repeat left top!important */
}
.sublevel-share .bds_more:hover {
  color:#333!important;
  /* background:url(http://imgs.ebrun.com/master/images/ico_more_hover.png?__sprite) no-repeat left top!important */
}
.breadcrumb-navigation {
  height:34px;
  line-height:34px
}
.breadcrumb-navigation ul {
  font-size:0
}
.breadcrumb-navigation li {
  display:inline-block;
  margin:0 4px;
  font-size:16px;
  line-height:34px;
  color:#999
}
.breadcrumb-navigation li a {
  color:#333
}
.breadcrumb-navigation li a:hover {
  color:#1a79ff
}
body {
  padding-top:40px!important
}
.g-top-bar {
  width:100%;
  height:40px;
  background-color:#1c1c1c
}
.sublevel-dingyue {
  width:100%;
  padding-bottom:25px;
  /* background:url(http://imgs.ebrun.com/master/images/bg_pindao_dingyue.gif) repeat-x left bottom */
}
.sublevel-liebiao {
  margin-top:20px
}
.sublevel-panel {
  margin-top:2px
}
.sublevel-panel:before, .sublevel-panel:after {
  content:" ";
  display:table
}
.sublevel-panel:after {
  clear:both
}
.sublevel-panel .pagination {
  margin-top:20px
}
.adv-panel {
  position:relative
}
.adv-panel object {
  display:block
}
.adv-panel .bar-adv {
  position:relative;
  width:1160px;
  margin:20px auto 0
}
.adv-panel .adv-text {
  position:absolute;
  bottom:0;
  left:0;
  width:30px;
  height:18px;
  font-size:12px;
  line-height:18px;
  text-align:center;
  color:#fff;
  background-color:rgba(0, 0, 0, .6);
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  cursor:pointer
}
.adv-panel .adv-text img {
  display:block;
  margin:0 auto
}
.adv-panel.bottom-adv {
  position:fixed;
  bottom:0;
  left:50%;
  z-index:800;
  width:1160px;
  height:90px;
  margin-left:-580px
}
.adv-panel.bottom-adv img, .adv-panel.bottom-adv object {
  display:block;
  height:100%
}
.adv-panel.bottom-adv .adv-close {
  position:absolute;
  top:0;
  right:0;
  width:18px;
  height:18px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_ad_close.png) no-repeat left top; */
  cursor:pointer
}
.side-has-more-data {
  position:relative;
  padding-bottom:20px
}
.side-has-more-data .controller {
  position:absolute;
  bottom:20px;
  left:50%;
  width:11px;
  height:6px;
  margin-left:-5px;
  cursor:pointer
}
.side-has-more-data .controller.dropdown {
  /* background:url(http://imgs.ebrun.com/master/images/ico_menu_dropdown.png?__sprite) no-repeat */
}
.side-has-more-data .controller.dropup {
  /* background:url(http://imgs.ebrun.com/master/images/ico_menu_dropup.png?__sprite) no-repeat */
}
.adv-side-panel {
  position:relative;
  z-index:800;
  width:30px;
  height:308px;
  -webkit-transition:width .7s;
  -moz-transition:width .7s;
  -ms-transition:width .7s;
  -o-transition:width .7s;
  transition:width .7s
}
.adv-side-panel>section {
  width:100%;
  height:100%
}
.adv-side-panel .adv-text {
  position:absolute;
  bottom:0;
  left:0;
  width:30px;
  height:18px;
  font-size:12px;
  line-height:18px;
  text-align:center;
  color:#fff;
  background-color:rgba(0, 0, 0, .6);
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  cursor:pointer
}
.adv-side-panel .adv-text img {
  display:block;
  margin:3px auto 0
}
.adv-side-panel .adv-close {
  position:absolute;
  top:0;
  right:0;
  width:18px;
  height:18px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_ad_close.png) no-repeat left top; */
  cursor:pointer
}
.adv-side-panel.side-max-screen {
  position:absolute;
  top:150px;
  left:0;
  width:30px;
  height:70px
}
.adv-side-panel.side-duilian-left, .adv-side-panel.side-duilian-right {
  position:absolute;
  top:356px;
  width:0;
  height:308px;
  overflow:hidden
}
.adv-side-panel.side-duilian-left .adv-text img, .adv-side-panel.side-duilian-right .adv-text img {
  display:block;
  width:auto;
  height:auto
}
.adv-side-panel.side-duilian-left img, .adv-side-panel.side-duilian-right img {
  display:block;
  width:100%;
  height:100%
}
.adv-side-panel.side-duilian-left>section:nth-of-type(1), .adv-side-panel.side-duilian-right>section:nth-of-type(1) {
  display:none
}
.adv-side-panel.side-duilian-left>section:nth-of-type(2), .adv-side-panel.side-duilian-right>section:nth-of-type(2) {
  display:block
}
.adv-side-panel.side-duilian-left.duilian-big>section:nth-of-type(1), .adv-side-panel.side-duilian-right.duilian-big>section:nth-of-type(1) {
  display:block
}
.adv-side-panel.side-duilian-left.duilian-big>section:nth-of-type(2), .adv-side-panel.side-duilian-right.duilian-big>section:nth-of-type(2) {
  display:none
}
.adv-side-panel.side-duilian {
  width:90px
}
.adv-side-panel.side-duilian-left {
  left:0
}
.adv-side-panel.side-duilian-right {
  right:0
}
.adv-side-panel.side-bottom-adv {
  position:fixed;
  bottom:0;
  left:0;
  z-index:799;
  width:30px;
  height:90px
}
.adv-side-panel.side-bottom-adv img, .adv-side-panel.side-bottom-adv object {
  display:block;
  height:100%
}
.g-top-bar-panel {
  position:relative;
  width:1160px;
  margin:0 auto;
  height:40px;
  overflow:hidden
}
.g-top-bar-panel .g-top-bar-line {
  width:1px;
  height:12px;
  margin-top:14px;
  overflow:hidden;
  line-height:12px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_line.png?__sprite) no-repeat left top */
}
.g-top-bar-panel>ul {
  position:absolute;
  top:0;
  height:40px;
  overflow:hidden
}
.g-top-bar-panel>ul:before, .g-top-bar-panel>ul:after {
  content:" ";
  display:table
}
.g-top-bar-panel>ul:after {
  clear:both
}
.g-top-bar-panel>ul li {
  position:relative;
  float:left;
  height:40px;
  font-size:12px;
  line-height:40px
}
.g-top-bar-panel .dropdown {
  position:relative;
  top:0;
  width:30px;
  height:30px;
  padding-top:40px;
  background-color:red
}
.g-top-bar-nav span {
  display:block;
  float:left;
  height:40px;
  padding:0 19px;
  font-size:12px;
  line-height:40px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_line.png?__sprite) no-repeat left 15px */
}
.g-top-bar-nav span.first {
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_index.png?__sprite) no-repeat left 14px */
}
.g-top-bar-nav span.first:hover {
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_index_hover.png?__sprite) no-repeat left 14px */
}
.g-top-bar-nav span.first:hover a {
  color:#fff
}
.g-top-bar-nav a {
  line-height:40px;
  color:#ddd
}
.g-top-bar-nav a:hover {
  color:#fff
}
.g-top-bar-nav.first {
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_index.png?__sprite) no-repeat left 14px */
}
.g-top-bar-login {
  right:0
}
.g-top-bar-login li {
  width:60px;
  text-align:center
}
.g-top-bar-login li a {
  color:#ddd
}
.g-top-bar-login li a:hover {
  color:#fff
}
.g-top-bar-user {
  right:0
}
.g-top-bar-user a {
  color:#ddd
}
.g-top-bar-user a:hover {
  color:#fff
}
.g-top-bar-user .remind {
  position:absolute;
  top:11px;
  left:45px;
  width:6px;
  height:6px;
  overflow:hidden;
  line-height:6px;
  background-color:#ff3b30;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.g-top-bar-user .user {
  padding-right:10px
}
.g-top-bar-user .user a {
  display:block;
  float:left
}
.g-top-bar-user .user .user-head {
  width:28px;
  height:28px;
  margin-top:6px;
  margin-right:9px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.g-top-bar-user .user .user-head img {
  display:block;
  width:100%;
  height:100%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.g-top-bar-user .user .user-name {
  width:4em;
  height:40px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height:40px!important
}
.g-top-bar-user .message, .g-top-bar-user .setting {
  width:84px;
  text-indent:20px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_topbar_dropdown.png?__sprite) no-repeat 55px 19px */
}
.g-top-bar-user .message.hover, .g-top-bar-user .setting.hover {
  /* background:#333 url(http://imgs.ebrun.com/master/images/ico_topbar_dropup.png?__sprite) no-repeat 55px 19px */
}
.g-drop-down {
  position:fixed;
  top:40px;
  left:0;
  z-index:999;
  width:100%
}
.g-drop-down:before, .g-drop-down:after {
  content:" ";
  display:table
}
.g-drop-down:after {
  clear:both
}
.g-drop-down .g-drop-down-panel {
  position:relative;
  width:1160px;
  margin:0 auto
}
.g-drop-down .dropdown {
  position:absolute;
  top:0;
  width:84px
}
.g-drop-down .dropdown .dropdown-well {
  padding:10px 0
}
.g-drop-down .dropdown .triangle {
  position:relative;
  top:-10px;
  left:33px;
  width:0;
  height:0;
  border-width:0 10px 10px;
  border-style:solid;
  margin:0 auto
}
.g-drop-down .dropdown .dropdown-ewm {
  display:block;
  width:70px;
  height:70px;
  margin-left:auto;
  margin-right:auto;
  overflow:hidden
}
.g-drop-down .dropdown .dropdown-ewm img {
  display:block;
  width:70px;
  height:70px
}
.g-drop-down .dropdown .dropdown-text {
  height:20px;
  margin-top:6px;
  font-size:12px;
  line-height:20px;
  text-indent:28px;
  color:#fff
}
.g-drop-down .dropdown .dropdown-text.wechat-text {
  /* background:url(http://imgs.ebrun.com/master/images/ico_dropdown_wechat.png?__sprite) no-repeat 7px center */
}
.g-drop-down .dropdown .dropdown-text.weibo-text {
  /* background:url(http://imgs.ebrun.com/master/images/ico_dropdown_weibo.png?__sprite) no-repeat 7px center */
}
.g-drop-down .dropdown .dropdown-text.app-text {
  /* background:url(http://imgs.ebrun.com/master/images/ico_dropdown_app.png?__sprite) no-repeat 7px center */
}
.g-drop-down .dropdown .dropdown-line {
  display:block;
  width:70px;
  height:1px;
  margin-top:8px;
  overflow:hidden;
  line-height:1px;
  background-color:#666;
  border:0 none
}
.g-drop-down .dropdown .weibo-btn {
  display:block;
  width:70px;
  height:28px;
  margin:13px auto 0;
  font-size:14px;
  line-height:28px;
  text-align:center;
  color:#fff;
  background-color:#ff3b30;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px
}
.g-drop-down .dropdown.weibo {
  left:-10px
}
.g-drop-down .dropdown.weibo .dropdown-well {
  background-color:#333
}
.g-drop-down .dropdown.weibo .triangle {
  border-color:transparent transparent #333
}
.g-drop-down .dropdown.app {
  left:94px
}
.g-drop-down .dropdown.app .dropdown-well {
  background-color:#1a79ff
}
.g-drop-down .dropdown.app .triangle {
  border-color:transparent transparent #1a79ff
}
.g-drop-down .dropdown.message {
  right:85px
}
.g-drop-down .dropdown.setting {
  right:0
}
.g-drop-down .dropdown.message, .g-drop-down .dropdown.setting {
  position:absolute;
  top:0;
  width:84px;
  padding-bottom:10px;
  background-color:#333
}
.g-drop-down .dropdown.message p, .g-drop-down .dropdown.setting p {
  height:26px;
  margin-top:4px;
  overflow:hidden;
  font-size:12px;
  line-height:26px;
  text-indent:18px
}
.g-drop-down .dropdown.message p a, .g-drop-down .dropdown.setting p a {
  display:block;
  color:#ddd;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.g-drop-down .dropdown.message p a:hover, .g-drop-down .dropdown.setting p a:hover {
  color:#fff;
  background-color:#ff9500;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.dingyue-title {
  padding-left:28px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_dingyue.png?__sprite) no-repeat left center */
}
.dingyue-title:before, .dingyue-title:after {
  content:" ";
  display:table
}
.dingyue-title:after {
  clear:both
}
.dingyue-title p {
  position:relative;
  padding-left:16px;
  margin-left:17px
}
.dingyue-title p:before {
  content:' ';
  position:absolute;
  top:0;
  left:0;
  width:1px;
  height:26px;
  overflow:hidden;
  line-height:26px;
  background-color:#bbb
}
.dingyue-title .button {
  display:block;
  float:left;
  width:87px;
  height:30px;
  margin-left:20px;
  font-size:14px;
  line-height:30px;
  text-align:center;
  color:#fff;
  background-color:#1a79ff;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px
}
.dingyue-title .button.disabled {
  background-color:#bbb
}
.dingyue-title-text {
  float:left;
  font-size:26px;
  font-weight:700;
  line-height:100%;
  color:#1c1c1c
}
.dingyue-title-text a {
  color:#1c1c1c;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.dingyue-title-text a:hover {
  color:#1a79ff;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.dingyue-content {
  margin-top:20px
}
.dingyue-content h2 {
  font-size:14px;
  font-weight:400;
  line-height:22px;
  color:#595959
}
.dingyue-content-controller {
  width:11px;
  height:6px;
  margin:15px auto 0;
  cursor:pointer
}
.dingyue-content-controller.dropdown {
  /* background:url(http://imgs.ebrun.com/master/images/ico_menu_dropdown.png?__sprite) no-repeat */
}
.dingyue-content-controller.dropup {
  /* background:url(http://imgs.ebrun.com/master/images/ico_menu_dropup.png?__sprite) no-repeat */
}
.category {
  height:56px
}
.category ul {
  border-bottom:1px solid #eee
}
.category ul:before, .category ul:after {
  content:" ";
  display:table
}
.category ul:after {
  clear:both
}
.category li {
  position:relative;
  top:1px;
  float:left;
  margin-right:37px;
  font-size:16px;
  line-height:56px
}
.pindao-category li.category-active {
  border-bottom:1px solid #1a79ff
}
.pindao-category li.category-active a {
  color:#1c1c1c
}
.pindao-category li:hover a {
  color:#1c1c1c
}
.pindao-category li a {
  color:#999
}
.liebiao-item-xinwen {
  position:relative;
  width:100%;
  height:169px;
  overflow:hidden;
  border-top:1px solid #fafafa
}
.liebiao-item-xinwen:before, .liebiao-item-xinwen:after {
  content:" ";
  display:table
}
.liebiao-item-xinwen:after {
  clear:both
}
.liebiao-item-xinwen:hover {
  background-color:#fafafa
}
.liebiao-item-xinwen.first {
  border:0 none
}
.liebiao-item-xinwen a {
  position:relative;
  display:block;
  padding:21px 0
}
.liebiao-item-xinwen a:before, .liebiao-item-xinwen a:after {
  content:" ";
  display:table
}
.liebiao-item-xinwen a:after {
  clear:both
}
.liebiao-item-xinwen .liebiao-image {
  position:relative;
  float:left;
  width:190px;
  height:127px;
  overflow:hidden
}
.liebiao-item-xinwen .liebiao-image img {
  display:block;
  width:100%;
  height:100%;
  -webkit-transform:scale(1, 1);
  -moz-transform:scale(1, 1);
  -ms-transform:scale(1, 1);
  -o-transform:scale(1, 1);
  transform:scale(1, 1);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.liebiao-item-xinwen .liebiao-image img:hover {
  -webkit-transform:scale(1.2, 1.2);
  -moz-transform:scale(1.2, 1.2);
  -ms-transform:scale(1.2, 1.2);
  -o-transform:scale(1.2, 1.2);
  transform:scale(1.2, 1.2);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.liebiao-item-xinwen .liebiao-image .tag-text {
  position:absolute;
  bottom:6px;
  left:6px;
  height:20px;
  padding:0 15px;
  font-size:12px;
  line-height:20px;
  color:#fff;
  background-color:rgba(0, 0, 0, .7);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  cursor:pointer
}
.liebiao-item-xinwen .liebiao-image .adv-text {
  position:absolute;
  bottom:0;
  left:0;
  width:30px;
  height:18px;
  font-size:12px;
  line-height:18px;
  text-align:center;
  color:#fff;
  background-color:rgba(0, 0, 0, .6);
  -webkit-border-top-right-radius:10px;
  -moz-border-radius-topright:10px;
  border-top-right-radius:10px;
  cursor:pointer
}
.liebiao-item-xinwen .liebiao-well {
  float:right;
  width:610px
}
.liebiao-item-xinwen .liebiao-xinwen-title span, .liebiao-item-xinwen .liebiao-xinwen-des span {
  color:#ff9500
}
.liebiao-item-xinwen .liebiao-xinwen-title {
  height:26px;
  overflow:hidden;
  font-size:18px;
  font-weight:700;
  line-height:26px;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:#333
}
.liebiao-item-xinwen .liebiao-xinwen-title:hover {
  color:#1a79ff
}
.liebiao-item-xinwen .liebiao-xinwen-des {
  height:52px;
  margin-top:6px;
  overflow:hidden;
  font-size:16px;
  line-height:26px;
  color:#595959
}
.liebiao-item-xinwen .liebiao-xinwen-side {
  position:absolute;
  bottom:21px;
  left:0;
  width:100%;
  height:24px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding-left:210px
}
.liebiao-item-xinwen .liebiao-xinwen-side:before, .liebiao-item-xinwen .liebiao-xinwen-side:after {
  content:" ";
  display:table
}
.liebiao-item-xinwen .liebiao-xinwen-side:after {
  clear:both
}
.liebiao-item-xinwen .liebiao-xinwen-side p {
  font-size:14px;
  line-height:24px;
  color:#999
}
.liebiao-item-xinwen .liebiao-xinwen-side .time, .liebiao-item-xinwen .liebiao-xinwen-side .tag {
  float:left
}
.liebiao-item-xinwen .liebiao-xinwen-side .tag {
  margin-left:20px
}
.liebiao-item-xinwen .liebiao-xinwen-side .comm {
  float:right
}
.liebiao-item-xinwen .liebiao-xinwen-side .comm span {
  float:left;
  margin-left:25px;
  margin-right:10px;
  padding-left:24px;
  color:#bbb
}
.liebiao-item-xinwen .liebiao-xinwen-side .comm span.pinglun {
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_pinglun.png?__sprite) no-repeat left center */
}
.liebiao-item-xinwen .liebiao-xinwen-side .comm span.zan {
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_zan.png?__sprite) no-repeat left center */
}
.liebiao-item-xinwen .liebiao-xinwen-side .tag {
  padding-left:17px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_xinwen_tag.png?__sprite) no-repeat left center */
}
.liebiao-item-xinwen .liebiao-xinwen-side .tag span {
  float:left;
  margin:0 3px
}
.liebiao-item-xinwen .liebiao-xinwen-side .tag a {
  padding:0;
  font-size:14px;
  color:#999
}
.liebiao-item-xinwen .liebiao-xinwen-side .tag a:hover {
  color:#1a79ff;
  background-color:transparent
}
.liebiao-item-tushuo {
  position:relative;
  width:100%;
  height:226px;
  overflow:hidden;
  border-top:1px solid #fafafa
}
.liebiao-item-tushuo.first {
  border:0 none
}
.liebiao-item-tushuo:hover {
  background-color:#fafafa
}
.liebiao-item-tushuo a {
  display:block;
  overflow:hidden
}
.liebiao-item-tushuo ul {
  width:900px;
  margin-top:12px
}
.liebiao-item-tushuo ul:before, .liebiao-item-tushuo ul:after {
  content:" ";
  display:table
}
.liebiao-item-tushuo ul:after {
  clear:both
}
.liebiao-item-tushuo ul li {
  float:left;
  width:190px;
  height:127px;
  overflow:hidden;
  margin-right:20px
}
.liebiao-item-tushuo ul li img {
  display:block;
  width:100%;
  height:100%;
  -webkit-transform:scale(1, 1);
  -moz-transform:scale(1, 1);
  -ms-transform:scale(1, 1);
  -o-transform:scale(1, 1);
  transform:scale(1, 1);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.liebiao-item-tushuo ul li img:hover {
  -webkit-transform:scale(1.2, 1.2);
  -moz-transform:scale(1.2, 1.2);
  -ms-transform:scale(1.2, 1.2);
  -o-transform:scale(1.2, 1.2);
  transform:scale(1.2, 1.2);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.liebiao-item-tushuo .liebiao-tushuo-title {
  width:100%;
  height:26px;
  overflow:hidden;
  margin-top:16px;
  font-size:18px;
  font-weight:700;
  line-height:26px;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
  white-space:nowrap;
  color:#333
}
.liebiao-item-tushuo .liebiao-tushuo-title:hover {
  color:#1a79ff
}
.liebiao-item-tushuo .liebiao-tushuo-side {
  position:absolute;
  bottom:12px;
  left:0;
  width:100%;
  height:24px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
.liebiao-item-tushuo .liebiao-tushuo-side:before, .liebiao-item-tushuo .liebiao-tushuo-side:after {
  content:" ";
  display:table
}
.liebiao-item-tushuo .liebiao-tushuo-side:after {
  clear:both
}
.liebiao-item-tushuo .liebiao-tushuo-side p {
  font-size:14px;
  line-height:24px;
  color:#999
}
.liebiao-item-tushuo .liebiao-tushuo-side .time, .liebiao-item-tushuo .liebiao-tushuo-side .tag {
  float:left
}
.liebiao-item-tushuo .liebiao-tushuo-side .tag {
  margin-left:20px
}
.liebiao-item-tushuo .liebiao-tushuo-side .comm {
  float:right
}
.liebiao-item-tushuo .liebiao-tushuo-side .comm span {
  float:left;
  margin-left:25px;
  margin-right:10px;
  padding-left:24px
}
.liebiao-item-tushuo .liebiao-tushuo-side .comm span.pinglun {
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_pinglun.png?__sprite) no-repeat left center */
}
.liebiao-item-tushuo .liebiao-tushuo-side .comm span.zan {
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_zan.png?__sprite) no-repeat left center */
}
.liebiao-item-tushuo .liebiao-tushuo-side .tag {
  padding-left:17px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_pindao_xinwen_tag.png?__sprite) no-repeat left center */
}
.liebiao-item-tushuo .liebiao-tushuo-side .tag span {
  float:left;
  margin:0 3px;
  color:#bbb
}
.liebiao-item-tushuo .liebiao-tushuo-side .tag a {
  padding:0;
  font-size:14px;
  color:#999
}
.liebiao-item-tushuo .liebiao-tushuo-side .tag a:hover {
  color:#1a79ff;
  background-color:transparent
}
.pagination ul {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  font-size:0
}
.pagination li {
  display:inline-block;
  min-width:28px;
  height:28px;
  margin:0 6px;
  font-size:14px;
  line-height:30px;
  text-align:center;
  vertical-align:middle;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  cursor:pointer
}
.pagination li:hover {
  -webkit-transition:all, .3s;
  -moz-transition:all, .3s;
  -ms-transition:all, .3s;
  -o-transition:all, .3s;
  transition:all, .3s;
  border-color:#1a79ff
}
.pagination li:hover a {
  color:#1a79ff
}
.pagination li.disabled {
  cursor:not-allowed;
  border-color:#ddd
}
.pagination li.disabled a {
  color:#ddd;
  cursor:not-allowed
}
.pagination .pagination-item {
  border:1px solid #999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.pagination .pagination-item a {
  display:inline-block;
  width:100%;
  height:100%;
  margin:0;
  padding:0 6px;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-transition:none;
  -moz-transition:none;
  -ms-transition:none;
  -o-transition:none;
  transition:none;
  color:#333
}
.pagination .pagination-item.pagination-active {
  border-color:#1a79ff
}
.pagination .pagination-item.pagination-active a {
  color:#1a79ff
}
.pagination .pagination-prev, .pagination .pagination-next, .pagination .pagination-jump-prev, .pagination .pagination-jump-next {
  width:30px;
  height:30px;
  margin:0;
  padding:0;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -ms-transition:all .3s;
  -o-transition:all .3s;
  transition:all .3s
}
.pagination .pagination-prev a, .pagination .pagination-next a, .pagination .pagination-jump-prev a, .pagination .pagination-jump-next a {
  display:block;
  margin:0;
  height:100%;
  color:#333;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px
}
.pagination .pagination-prev a:after, .pagination .pagination-next a:after, .pagination .pagination-jump-prev a:after, .pagination .pagination-jump-next a:after {
  display:block;
  font-size:14px;
  height:30px;
  text-align:center
}
.pagination .pagination-prev, .pagination .pagination-next {
  margin:0 6px
}
.pagination .pagination-prev {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_prev.jpg?__sprite) no-repeat left top */
}
.pagination .pagination-prev.disabled, .pagination .pagination-prev.disabled:hover {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_prev_disabled.jpg?__sprite) no-repeat left top */
}
.pagination .pagination-prev:hover {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_prev_hover.jpg) center center no-repeat */
}
.pagination .pagination-next {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_next.jpg?__sprite) no-repeat left top */
}
.pagination .pagination-next.disabled, .pagination .pagination-next.disabled:hover {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_next_disabled.jpg?__sprite) no-repeat left top */
}
.pagination .pagination-next:hover {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_next_hover.jpg?__sprite) center center no-repeat */
}
.pagination .pagination-jump-prev, .pagination .pagination-jump-next {
  border:0 none;
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_more.jpg?__sprite?__sprite) no-repeat left top */
}
.pagination .pagination-jump-prev:hover, .pagination .pagination-jump-prev.pagination-active {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_prev_jump.jpg?__sprite) no-repeat left top */
}
.pagination .pagination-jump-next:hover, .pagination .pagination-jump-next.pagination-active {
  /* background:url(http://imgs.ebrun.com/master/images/bg_pagination_next_jump.jpg?__sprite) no-repeat left top */
}
.header-search {
  width:300px;
  height:34px;
  background-color:#f3f3f3;
  -webkit-border-radius:18px;
  -moz-border-radius:18px;
  border-radius:18px
}
.header-search .search-control {
  display:block;
  float:left;
  width:235px;
  height:28px;
  margin-left:20px;
  margin-top:3px;
  overflow:hidden;
  font-size:14px;
  line-height:28px;
  color:#999;
  background:0 0;
  border:0 none
}
.header-search .search-control:focus {
  outline:0
}
.header-search .header-search-submit {
  display:block;
  float:left;
  width:20px;
  height:20px;
  margin-top:7px;
  margin-left:8px;
  /* background:url(http://imgs.ebrun.com/master/images/ico_search.png?__sprite) no-repeat left top; */
  border:0 none;
  cursor:pointer
}
.side2-panel {
  width:260px;
  margin:0 auto
}
.side2-panel .side2-ebrun-num {
  border-bottom:1px solid #eee;
  padding-bottom:20px;
  margin-bottom:20px
}
.side2-panel .side2-ebrun-num dl {
  margin-bottom:8px
}
.side2-panel .side2-ebrun-num dl:before, .side2-panel .side2-ebrun-num dl:after {
  content:" ";
  display:table
}
.side2-panel .side2-ebrun-num dl:after {
  clear:both
}
.side2-panel .side2-ebrun-num dl dt {
  float:left;
  width:36px;
  height:36px
}
.side2-panel .side2-ebrun-num dl dt img {
  width:100%;
  height:100%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.side2-panel .side2-ebrun-num dl dd {
  float:left;
  width:212px;
  margin-left:11px
}
.side2-panel .side2-ebrun-num dl dd p {
  display:block;
  float:left;
  max-width:7em;
  height:36px;
  padding-right:22px;
  overflow:hidden;
  font-size:16px;
  line-height:36px;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
  white-space:nowrap
}
.side2-panel .side2-ebrun-num dl dd p.side2-ico-v1 {
  /* background:url(http://imgs.ebrun.com/master/images/ico_side2_v1.png?__sprite) right center no-repeat */
}
.side2-panel .side2-ebrun-num dl dd p.side2-ico-v2 {
  /* background:url(http://imgs.ebrun.com/master/images/ico_side2_v2.png?__sprite) right center no-repeat */
}
.side2-panel .side2-ebrun-num dl dd p a {
  font-size:16px
}
.side2-panel .side2-ebrun-num dl dd a {
  color:#333
}
.side2-panel .side2-ebrun-num dl dd a:hover {
  color:#1a79ff
}
.side2-panel .side2-ebrun-num dl dd .ico-side-more {
  float:right;
  width:56px;
  height:24px;
  margin-top:3px;
  padding:0;
  border:1px solid #bfbfbf;
  text-align:center;
  font-size:14px;
  line-height:24px;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  border-radius:14px;
  color:#595959
}
.side2-panel .side2-ebrun-num dl dd .ico-side-more:hover {
  color:#1a79ff;
  border-color:#1a79ff
}
.side2-panel .side2-ebrun-num p {
  display:block;
  height:44px;
  overflow:hidden
}
.side2-panel .side2-ebrun-num p a {
  width:260px;
  font-size:14px;
  line-height:22px;
  color:#595959
}
.side2-panel .side2-ebrun-num p a:hover {
  color:#1a79ff
}
.side2-panel .side-more-data-item.border-none {
  margin-bottom:0
}
.side2-panel .border-none {
  border:0
}
.side-keyword {
  overflow:hidden;
  font-size:0;
  padding:0 20px 5px
}
.side-keyword:before, .side-keyword:after {
  content:" ";
  display:table
}
.side-keyword:after {
  clear:both
}
.side-keyword li {
  display:inline-block;
  margin:0 5px 15px
}
.side-keyword li a {
  display:block;
  padding:0 15px;
  color:#595959;
  border:1px solid #bfbfbf;
  font-size:14px;
  line-height:24px;
  -webkit-border-radius:13px;
  -moz-border-radius:13px;
  border-radius:13px
}
.side-keyword li a:hover {
  color:#1a79ff;
  border-color:#1a79ff
}
.bangdan {
  width:260px;
  margin:0 auto;
  padding-bottom:34px
}
.bangdan li {
  width:100%;
  height:52px;
  overflow:hidden;
  font-size:14px;
  line-height:52px;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
  white-space:nowrap;
  border-top:1px solid #eee
}
.bangdan li:nth-of-type(1) {
  border:0 none
}
.bangdan li.highlight a span {
  color:#ff9500
}
.bangdan li a {
  color:#333
}
.bangdan li a:hover {
  color:#1a79ff
}
.bangdan li a span {
  margin-left:8px;
  margin-right:16px;
  color:#bbb
}
.side4-panel dl, .side4-panel dt {
  overflow:hidden;
  height:80px
}
.side4-panel dl {
  width:260px;
  padding:0 0 20px;
  margin:0 20px 20px;
  border-bottom:1px solid #eee
}
.side4-panel dl.border-none {
  border:0 none
}
.side-more-data-item.border-none {
  border:0 none;
  margin-bottom:0
}
.side4-panel dt {
  float:left;
  width:120px
}
.side4-panel dt img {
  width:100%;
  height:100%;
  -webkit-transform:scale(1, 1);
  -moz-transform:scale(1, 1);
  -ms-transform:scale(1, 1);
  -o-transform:scale(1, 1);
  transform:scale(1, 1);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.side4-panel dt img:hover {
  -webkit-transform:scale(1.2, 1.2);
  -moz-transform:scale(1.2, 1.2);
  -ms-transform:scale(1.2, 1.2);
  -o-transform:scale(1.2, 1.2);
  transform:scale(1.2, 1.2);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.side4-panel dd {
  overflow:hidden;
  float:right;
  width:128px;
  height:40px;
  padding-left:12px;
  line-height:20px
}
.side4-panel dd a {
  font-size:16px;
  line-height:20px;
  color:#333
}
.side4-panel dd a:hover {
  color:#1a79ff
}
.side4-panel .aside4-dl-dress {
  padding-top:12px
}
.side4-panel .aside4-dl-dress span {
  display:block;
  margin-top:5px;
  float:left;
  width:60px;
  font-size:14px;
  color:#999
}
.side4-panel .aside4-dl-dress a {
  display:block;
  float:right;
  width:58px;
  height:24px;
  border:1px solid #bfbfbf;
  border-radius:14px;
  font-size:14px;
  line-height:26px;
  color:#595959;
  text-align:center
}
.side4-panel .aside4-dl-dress a:hover {
  color:#1a79ff
}
.side4-panel .aside4-dl-dress a:hover {
  color:#1a79ff;
  border-color:#1a79ff
}
.side4-panel dl:last-child {
  border:0
}
.side6-panel img {
  -webkit-transform:scale(1, 1);
  -moz-transform:scale(1, 1);
  -ms-transform:scale(1, 1);
  -o-transform:scale(1, 1);
  transform:scale(1, 1);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.side6-panel img:hover {
  -webkit-transform:scale(1.2, 1.2);
  -moz-transform:scale(1.2, 1.2);
  -ms-transform:scale(1.2, 1.2);
  -o-transform:scale(1.2, 1.2);
  transform:scale(1.2, 1.2);
  -webkit-transition:all, .7s;
  -moz-transition:all, .7s;
  -ms-transition:all, .7s;
  -o-transition:all, .7s;
  transition:all, .7s
}
.side6-panel dl {
  width:260px;
  margin:0 20px
}
.side6-panel dl dt {
  display:block;
  float:left;
  overflow:hidden;
  width:120px;
  height:80px;
  margin-bottom:16px
}
.side6-panel dl dt img {
  width:100%;
  height:100%
}
.side6-panel dl dd {
  display:block;
  overflow:hidden;
  -ms-text-overflow:ellipsis;
  text-overflow:ellipsis;
  clear:both;
  padding-top:14px;
  height:22px;
  white-space:nowrap
}
.side6-panel dl .side6-panel-list {
  display:block;
  clear:none;
  float:right;
  width:130px;
  height:44px;
  padding:0
}
.side6-panel dl a {
  font-size:16px;
  line-height:22px;
  color:#333
}
.side6-panel dl a:hover {
  color:#1a79ff
}
.side6-panel dl .side6-panel-list a {
  white-space:normal
}
.gaoceng {
  width:260px;
  margin:0 auto
}
.gaoceng .gaoceng-item {
  height:50px;
  margin-bottom:20px;
  padding-bottom:20px;
  border-bottom:1px solid #eee
}
.gaoceng .gaoceng-item .user-head {
  display:block;
  float:left;
  width:50px;
  height:50px;
  margin-right:12px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.gaoceng .gaoceng-item .user-head img {
  display:block;
  width:100%;
  height:100%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%
}
.gaoceng .gaoceng-item .user-info {
  float:left;
  width:126px
}
.gaoceng .gaoceng-item .user-info p {
  height:22px;
  overflow:hidden;
  line-height:22px
}
.gaoceng .gaoceng-item .user-info .user-name {
  font-size:16px;
  color:#333;
  max-width:7em;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.gaoceng .gaoceng-item .user-info .user-name a {
  color:#333;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.gaoceng .gaoceng-item .user-info .user-name a:hover {
  color:#1a79ff;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.gaoceng .gaoceng-item .user-info .user-duty {
  margin-top:5px;
  font-size:14px;
  color:#595959
}
.gaoceng .side-more-data-item.border-none {
  border:0;
  margin-bottom:0
}
.gaoceng .border-none {
  border:0
}
.gaoceng .more {
  float:right;
  width:56px;
  height:24px;
  margin-top:3px;
  padding:0;
  border:1px solid #bfbfbf;
  text-align:center;
  font-size:14px;
  line-height:24px;
  -webkit-border-radius:14px;
  -moz-border-radius:14px;
  border-radius:14px;
  color:#595959;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.gaoceng .more:hover {
  color:#1a79ff;
  border-color:#1a79ff;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.system-panel:before, .system-panel:after {
  content:" ";
  display:table
}
.system-panel:after {
  clear:both
}
.system-panel .system-flow, .system-panel .system-link, .system-panel .system-logo {
  min-height:212px
}
.system-panel.seo-system-panel .system-flow, .system-panel.seo-system-panel .system-link, .system-panel.seo-system-panel .system-logo {
  min-height:130px
}
.system-panel .system-logo {
  width:214px;
  border-right:1px solid #eee
}
.system-panel .system-logo img {
  display:block
}
.system-panel .system-link ul {
  width:197px;
  height:212px;
  border-right:1px solid #eee
}
.system-panel .system-link ul li {
  margin-top:22px;
  font-size:14px;
  line-height:100%;
  text-indent:40px
}
.system-panel .system-link ul li.bold {
  margin-top:0;
  padding-bottom:10px;
  font-weight:700
}
.system-panel .system-link ul li a {
  color:#595959
}
.system-panel .system-link ul li a:hover {
  color:#1a79ff
}
.system-panel .system-link.system-inline {
  width:605px
}
.system-panel .system-link.system-inline:before, .system-panel .system-link.system-inline:after {
  content:" ";
  display:table
}
.system-panel .system-link.system-inline:after {
  clear:both
}
.system-panel .system-link.system-inline dl {
  margin-bottom:20px
}
.system-panel .system-link.system-inline dl:before, .system-panel .system-link.system-inline dl:after {
  content:" ";
  display:table
}
.system-panel .system-link.system-inline dl:after {
  clear:both
}
.system-panel .system-link.system-inline dt, .system-panel .system-link.system-inline dd {
  float:left;
  font-size:14px
}
.system-panel .system-link.system-inline dt {
  margin-right:24px;
  padding-left:40px;
  font-weight:700;
  color:#1c1c1c
}
.system-panel .system-link.system-inline dd p {
  width:485px;
  font-size:0;
  text-align:left
}
.system-panel .system-link.system-inline dd a {
  display:inline-block;
  margin:0 16px 6px;
  font-size:14px;
  color:#595959;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.system-panel .system-link.system-inline dd a:hover {
  color:#1a79ff;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -ms-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s
}
.system-panel .system-flow {
  width:325px;
  margin-left:25px
}
.system-panel .system-flow.seo-system-flow {
  width:300px!important;
  margin-left:20px
}
.system-panel .system-flow.seo-system-flow .system-ewm div {
  margin:0 20px
}
.system-panel .system-flow .system-ewm:before, .system-panel .system-flow .system-ewm:after {
  content:" ";
  display:table
}
.system-panel .system-flow .system-ewm:after {
  clear:both
}
.system-panel .system-flow .system-ewm div {
  width:108px;
  margin-left:45px
}
.system-panel .system-flow .system-ewm div p {
  padding:11px 0;
  font-size:14px;
  line-height:100%;
  text-align:center;
  color:#999
}
.system-panel .system-flow .system-weibo {
  margin-top:29px;
  font-size:14px;
  text-align:center
}
.system-panel .system-flow .system-weibo a {
  display:inline-block;
  height:38px;
  padding-left:48px;
  line-height:38px;
  color:#999;
  /* background:url(http://imgs.ebrun.com/master/images/ico_system_weibo.png) no-repeat left top */
}
.system-panel .system-flow .system-weibo a:hover {
  color:#333;
  /* background:url(http://imgs.ebrun.com/master/images/ico_weibo_hover.png) no-repeat left top */
}
.system-tab-panel {
  width:1160px;
  margin:0 auto;
  padding-top:40px;
  border-top:1px solid #eee
}
.system-tab-panel:before, .system-tab-panel:after {
  content:" ";
  display:table
}
.system-tab-panel:after {
  clear:both
}
.system-tab-panel .tab-menu {
  float:left;
  width:96px
}
.system-tab-panel .tab-menu li {
  margin-bottom:30px;
  font-size:14px;
  font-weight:700;
  line-height:100%;
  color:#bbb;
  cursor:pointer
}
.system-tab-panel .tab-menu li.tab-menu-active {
  color:#1c1c1c
}
.system-tab-panel .tab-body {
  float:left;
  width:1060px
}
.system-tab-panel .tab-body .tab-well {
  width:100%
}
.system-tab-panel .tab-body .tab-well li {
  float:left;
  margin-right:20px;
  margin-bottom:16px;
  font-size:12px;
  line-height:100%
}
.system-tab-panel .tab-body .tab-well li a {
  color:#595959
}
.system-tab-panel .tab-body .tab-well li a:hover {
  color:#1a79ff
}