.error-area {
  height: 100vh;
}

.error-area .d-table {
  width: 100%;
  height: 100%;
}

.error-area .d-table .d-table-cell {
  vertical-align: middle;
}

.error-area .d-table .d-table-cell .error-content {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}

.error-area .d-table .d-table-cell .error-content > h3 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 18px;
}

.error-area .d-table .d-table-cell .error-content > p {
  max-width: 520px;
  margin: 0 auto 20px;
  line-height: 30px;
}

.error-area .d-table .d-table-cell .error-content > a {
  border-radius: 30px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
  border-top-color: #ddd;
}

.navigation-clean-search .form-inline label {
  color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

@media (max-width: 767px) {
  .navigation-clean-search .form-inline .search-field {
    display: inline-block;
    width: 80%;
  }
}

.navigation-clean-search .form-inline .search-field:focus {
  border-bottom: 1px solid #ccc;
}

.justify-content-xl-center.media-body {
  display: flex;
  overflow: hidden;
  min-height: 120px;
  flex-flow: column wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.media {
  border-bottom: 0.071rem dashed #bdbdbd;
}

.media .media-body .media-link > .media-title {
  font-size: 22px;
  margin-bottom: 2px;
}

.border.rounded-0.mr-3.media-img {
  margin-bottom: 6px;
}

.media-desc {
  flex-grow: 1;
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 4px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.media-link:hover,
.media-link:active {
  text-decoration: none;
}

.news-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.news-wrap .news-title,
.news-wrap .news-level {
  align-self: center;
}

.news-wrap .news-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-wrap .news-level {
  font-size: 14px;
}

.news-wrap .news-cont {
  flex: 1;
}

.news-wrap .news-paging .page-pre,
.news-wrap .news-paging .page-next {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.news-wrap .news-paging .page-pre > a,
.news-wrap .news-paging .page-next > a {
  flex: 1 0 80%;
}
